/*general*/
:root{
			--footer-color:#002649; 
			--white:#fff;
			--light :#F5F8FD ; 
			--dark :#02073F ;
			--main-font-color :#413e66 ;
			--shadow : 0 1px 10px rgb(104,104,104,0.5);
			--btn-color:#18B1DC;  /*rgb(24,177,220)*/
			--line-color:#C9D4F6;
			--font:"Open Sans", sans-serif;
			--pink:#ED125B;
			--section-padding:0 10%;;

}
*{
	/*box-sizing: border-box;*/
}
body{
			font-size: 16px;
			font-family: "Open Sans", sans-serif;
}

a{
			text-decoration: none;
			color: var(--white);
}
h2{
	/*font-family: "Raleway", sans-serif;*/
	font-weight: bold;
	color: var(--dark);
	margin: 0;
	font-family: "Open Sans", sans-serif;
	/*border:2px solid green;*/
	text-align: center;
}
.btn{
	background: var(--btn-color);
	background: var(--pink);
	color: #fff;
	padding: 0.6rem 1.3rem;
	text-decoration: none;
	border:0;
	border-radius: 5px;
	/*margin-right: 2rem;
	margin-left: 2rem;*/
	width: 150px;
}
.btn:hover{
	background:#fff;
	border:2px solid #b71c1c;
	font-weight: bold;
	border-radius: 5px;
}

.box{
	background:#ffffff;
	/*text-align: left;*/
	padding: 1.5rem 2rem;
	box-shadow: var(--shadow);
	border-radius: 1rem;
	position: relative;
}

/*navbar*//***************************************************************************/
.navbar-nav > li{
	padding-left:5px;
  	padding-right:5px;
  	margin: 10px;
  	/*background: var(--light);*/
  	color: #fff;
}

.navbar-custom{
	min-height: 5rem;
	background: var(--light);
	/*background:#012D47;*/
	
	font-weight: bold;
		color: #fff;
}
.navbar-nav > li:last-child{  
  margin-right:2%;
}
.navbar-nav a{
	font-family: "Open Sans", sans-serif;
	text-transform: uppercase;
	font-size: 0.9rem;
	/*color: var(--main-font-color);*/
	color: #fff;
}
.brand-custom{
	font-size: 1.4rem;
	line-height: 1rem;
	font-weight: 50;
	letter-spacing: 0.05rem;
	text-transform :uppercase;
	color: var(--main-font-color);
	margin-left:50px;
}

nav button{
	color: #fff;
}
/*navbar*//***************************************************************************/

/*quote*//***************************************************************************/
.quote {
	/*min-width: 800px;
	min-height: 400px;*/
	/*background-image: -webkit-linear-gradient(45deg, #98ACB3 50%, #1B1B49 50%);*/
	 /*border:2px solid green;*/
}
.quote{
	display: grid;
	grid-template-columns: 1fr 4fr;
	/*display: flex;*/
	background-image: linear-gradient(
	      rgba(0, 38, 73, 0.6),
	      rgba(0, 38, 73, 0.5)
	    ), url('images/main_bg_2.jpg');
	background-attachment: fixed;
	/*background-size: cover;*/
	min-height: 400px;
	/*justify-content: center;
	align-items: center;*/
	padding: 5% 10%;
	/*grid-gap: 1rem;*/
	padding-top: 10rem;
	grid-gap: 1rem;

}
.quote .image{
	/*flex-basis: 20px: */
	/*border:2px solid #fff;*/
	justify-content: flex-end;
	padding: 0;
	
	
}

.quote img{
	max-width: 250px;
	/*border: 1px solid red;*/
	/*float: right;*/
	float: right;
	border:2px solid #fff;

}

.quote div{
	/*border:2px solid green;*/
	font-size: 1rem;
	color: #ffffff;	
	/*border:2px solid green;*/
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	
	margin:0;
	text-align: left;
	/*padding-top: 2%;*/
	/*padding: 2% 5%;*/
	justify-content: center;
	
}
.quote .name{
	float: right;
}
.quote .content{
	padding: 0;
	border-top:2px solid rgb(255,255,255,0.8);
	border-right:2px solid rgb(255,255,255,0.3);
}
/*quote*//***************************************************************************/
/*about*//***************************************************************************/
.about{
	display: grid;
	grid-template-columns: 1fr 2fr;
	/*padding: 0 10%;*/
	padding: var(--section-padding);
	grid-gap: 2rem;
	box-shadow: var(--shadow);
	border-radius: 10px;
	margin:5rem 5%;
}
.about .image{
	/*border:2px solid green;*/
	align-self: flex-end;
	justify-content: flex-end;
	/*padding: 1% 0;*/
}

.about .image img{
	max-width: 100%;
	max-height: 550px;
	min-width: 300px;


}
.about .content{
	/*border:2px solid blue;*/
	line-height: 1.8rem;
}
.about h6{
	color:#696592;
	font-style:italic;
	font-weight: 400;
	font-size: 1.2rem;
	margin-bottom: 1rem;

}
.about h2{
	margin:2rem 0;
}
/*about*//***************************************************************************/
/*applications*//***************************************************************************/
.application{
					padding: 1%;
				}
.application{
	margin-top: 5rem;
	/*border: 2px solid red;*/
	/*padding: var(--section-padding);*/

}

.application .applications-grid{
	display:grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 2rem;
	/*border: 2px solid green;*/
	margin: var(--section-padding);
}
.applications-grid .box{
	background:#ffffff;
	/*text-align: left;*/
	padding: 1.5rem 2rem;
	box-shadow: var(--shadow);
	border-radius: 1rem;
	position: relative;
	/*min-width: 300px;*/


	/*background: var(--light);#B71B1B*/
	/*background-image: -webkit-linear-gradient(90deg, #02073F 50%, #fff 50%);*/
}
.application h2{
	margin-bottom: 2rem;
}
.application .box .header{

	display: flex;
	flex-direction: column;
	align-items:center;
	/*justify-content: space-between;*/
	min-height: 50%;
	/*width: 60%;*/
	/*max-width: 150px;*/
	/*max-height: 100px;*/
	/*border: 2px solid green;*/
	/*min-height: 60%;*/
}
.application .box img{

	width: 60%;
	max-width: 150px;
	max-height: 100px;
	/*border: 2px solid red;*/
}
.box h4{
	font-family: var(--font);
	font-size : 1.2rem;
	font-weight: 900;
	color: var(--main-font-color);
	color: #004E96;
	border-bottom: 1px solid rgb(0,78,150,0.3);
	/*border-bottom: 1px solid rgb(183,27,27,0.3);*/
	padding-bottom: 2px;
	/*color: #b71c1c;*/
}
.box p{
	font-family: var(--font);
	font-size: 1rem;
	line-height: 1.8rem;
	color: rgb(0,0,0,0.59);
	/*background: var(--dark);*/
	/*color: #fff;*/
}
.box a{
	text-decoration: none;
	color: var(--btn-color);

}
.box img{
	/*display: block;
	margin: auto;*/
	margin-bottom: 1rem;
}
.box .link-app{
	position: absolute;
	margin:0 auto;
	bottom: 0.5rem;
}
.box a:hover i{
	margin-left: 10px;
}
.box-ls img{
	display: none;
}
.box-ll img{
		display: block;
	}
/*applications*//***************************************************************************/
/*activities*//***************************************************************************/
.events{
	margin-top:5rem;
	/*border:1px solid red;*/
}

.activities{
	display: grid;
	/*grid-template-columns: 0 1fr 3fr;*/
	grid-template-columns:  1fr 3fr;
	background: var(--light);
	/*grid-gap: 2rem;*/
	/*border:5px solid black;*/
	/*padding: 5%;*/
	font-size: 0.8rem;
}

.activities .v-image{
	/*border:2px solid pink;*/
	min-height: 400px;
	min-width: 300px;
	max-height: 300px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
	/*opacity: 0;*/
}
.activities .v-image img{
	/*min-width: 300px;
	max-width:100%;*/
	
}
.activities .h-image{
	/*border:5px solid yellow;*/
	min-height: 400px;
	min-width: 300px;
	display: flex;
	align-items:center;
	justify-content: center;
}
.activities .h-image img{
	min-width: 300px;
	max-width:80%;
}

.activities .a-content{
	/*border:5px solid green;*/
	min-height: 400px;
	min-width: 300px;
}

.activities .box-2{
	border:2px solid blue;
}
.activities .btn{
	background: var(--dark);

	/*border-radius:50px;*/
	border:none;
}
.activities .btn:hover{
	color: #fff;
	text-decoration: underline;

}

.box-activities{
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 2rem;	
	
	padding:0;
	margin: 0; 
	width: 100%;
	margin-top: 2rem;
	/*border:2px solid green;*/
}
.link-explore{
	color: var(--btn-color);
	font-size: 1rem;
}
.activities-container{
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	grid-template-rows: auto; 
	/*border: 2px solid red;	*/
	
}
.activities .fas{
	font-size: 1.5rem;
}
.btn-activities{
	/*display: flex;*/
	/*grid-template-columns: repeat(3,minmax(100px,auto));*/
	/*justify-content: space-around;*/
	/*flex-wrap: wrap;*/
	display: grid;
	grid-template-columns: repeat(3,1fr);
	justify-items:center;
	/*border:2px solid green;*/
}

.btn-activities .btn{
	min-width: 120px;
	/*margin:1rem;*/
	/*border: 2px solid green;*/	
	background: none;
	/*background: #b3e5fc;*/
	color: #fff;
	font-weight: bold;
	max-width: 100%;
	padding: 0;

}
.btn-activities a{
	border: none;
}

.btn-activities div{
	/*border:1px solid red;*/
	justify-content: center;
	align-items: center;
	background: var(--dark);
	color: #fff;
	position: relative;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
}
.btn-activities .btn1{
	min-width: 120px;
	/*border-radius: 50px;*/
	/*background: var(--btn-color);*/
	color: black;
	padding: 0.6rem 1.3rem;
	text-decoration: none;
	border:0;


}

.btn-activities div i{
		font-size:2rem;
	}


.box-activities{
	/*border:2px solid green;*/
}
.activities-container i{
	color:  var(--btn-color);
	size: 1.5rem;
	margin-right: 1rem;
}
.activities-event{
	/*border:1px solid red;*/
	padding: 1rem 0;
	margin-right: 10%;
}

.activities-event p{
	line-height: 0.5rem;
}
.filter-jobfair .activities-event{
	display:grid;
	grid-template-columns: 1fr  3fr;
	text-align:center;

	/*border-bottom: 1px solid #0091ea;*/
	/*border:2px solid green;*/
	margin: 0;
	
	height: 100px;
	/*align-items:center;*/
	/*justify-items:center;*/
	/*border-bottom: 1px solid var(--line-color);*/
}
.filter-workshop .activities-event{
	display:grid;
	grid-template-columns: 1fr 1fr 3fr;
	text-align:center;

	/*border-bottom: 1px solid #0091ea;*/
	/*border:2px solid green;*/
	margin: 0;
	
	height: 100px;
	/*align-items:center;*/
	/*justify-items:center;*/
	/*border-bottom: 1px solid var(--line-color);*/
}
.filter-internship .activities-event{
	display:grid;
	grid-template-columns: 1fr  3fr;
	text-align:center;

	/*border-bottom: 1px solid #0091ea;*/
	/*border:2px solid green;*/
	margin: 0;
	
	height: 100px;
	/*align-items:center;*/
	/*justify-items:center;*/
	/*border-bottom: 1px solid var(--line-color);*/
}
.activities-event .date{
	border-right: 1px solid #e0e0e0;
	margin-bottom: 10px;
	margin-top:  10px;
	border-left:5px solid var(--pink);


}
.date p{
	line-height: 1.5rem;
}
.activities-event {
	border-bottom: 1px solid  #e0e0e0;
	box-shadow: var(--shadow);
}

.box_card{
	box-shadow: var(--shadow);
}
.events{
	/*padding: 0 5%;*/
	/*background:var(--light);*/
}
.activities-event:hover{
	background: #e1f5fe;
}
.activities .h-image{
	/*min-width: 400px;*/
	
}

.events h2{
	margin-bottom: 2rem;
}
/*.activities .h-image img{
	min-width: 400px;
	max-width: 100%;
}
*//*.activities .v-image{
	display: none;
}*/


/*.activities .box-1 img{
	max-width: 100%;
	max-height: 500px;

}*/
/*.activities .box-1{
	border: 2px solid green;
	text-align: right;
}*/
/*.activities .box-1s{

	display: inline-block;
		display: none;
}*/
.activities .box-2{
	/*align-self: center;*/
	/*border: 2px solid red;*/
}
.activities-event img{
	border-radius: 50%;
	max-width: 50px;
}
.activities-event .icon{
	/*border:2px solid red;*/
}

.activities-event .image{
	/*border:2px solid red;*/
}
/*.activities .box-1l img{
	max-height: 50%;
}*/
.activities-event .content{
	/*border:2px solid red;*/
	/*border-bottom: 1px solid #0091ea;*/
	text-align: left;
	margin-left:10px;
}
.activities-event .content h6{
	font-size: 1.2rem;
	color: var(--main-font-color);
	font-weight: bold;
}
/*activities*//***************************************************************************/

/*collaboration*//***************************************************************************/
.collab{
		background-image: linear-gradient(
	      rgba(0, 0, 0, 0.5),
	      rgba(0, 0, 0, 0.5)
	    ), url('images/collab.jpg');
		background-size: cover;
		background-attachment: fixed;
		padding-top:4%;
		padding-bottom:5%;
		margin-top: 5rem;
		/*border:2px solid green;*/
		}
.collab .content{
			color: whitesmoke;
			margin-left: 50%;
		}
.collab h1{
	margin-bottom: 2rem;
	/*border:2px solid green;*/
}
.collab a{
			margin-left: 50%;
			margin-top: 2rem;
		}
.collab p{
	line-height: 1.5rem;
	font-weight: bold;
}
/*collaboration*//***************************************************************************/

/*testimonial*//***************************************************************************/	




.carousel .testimonial-wrapper a{
	color: var(--dark);
	padding-left: 1rem; 
	display: inline;
	float: left;
	margin-left: 0;
	padding: 0;

}
.carousel .testimonial {
    /*color: #808080;*/
    color: rgb(0,0,0,0.5);
    /*position: relative;*/
    padding: 2rem;
    /*background: #f1f1f1;*/
    background: var(--light);
    /*background: var(--light);*/
    /*border: 1px solid #efefef;*/
    /*box-shadow: var(--shadow);*/
    border-radius: 1rem;
	margin-bottom: 15px;
	height: 60%;
	justify-content: left;
	align-items: left;
}
.carousel .testimonial::after {
	content: "";
	width: 15px;
	height: 15px;
	display: block;
	/*background: #f1f1f1;*/
	background: var(--light);
	border: 1px solid #efefef;
	border-width: 0 0 1px 1px;
	position: absolute;
	bottom: -8px;
	left: 46px;
	transform: rotateZ(-46deg);
}







.carousel-indicators li.active {
	color: #fff;
    /*background: #1abc9c;*/
    background: var(--btn-color);
    border: 5px double;    
}

.carousel h2 {
	/*color: #000;*/
	/*font-size: 26px;*/
	/*font-weight: 300;*/
	/*text-align: center;*/
	/*position: relative;*/
	margin: 5rem;
}
.carousel h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	border-radius: 1px;
	/*background: #1abc9c;
	/*background:#004E95;*/
	left: 0;
	right: 0;
	bottom: -20px;

}


.carousel {
	margin: 0 auto;
	padding: 0 70px;
}
.carousel .item {
	color: #999;
	overflow: hidden;
    min-height: 120px;
	font-size: 13px;
}
.carousel .media {
	position: relative;
	padding: 0 0 0 20px;
}

.carousel .testimonial-wrapper {
	padding: 0 10px;
}
.carousel .testimonial {
    /*color: #808080;*/
    color: rgb(0,0,0,0.6);
    position: relative;
    padding: 15px;
    /*background: #f1f1f1;*/
    border: 1px solid #efefef;
    border-radius: 3px;
	margin-bottom: 15px;
	/*margin-right: 5%;
	margin-left: 5%;*/
	padding:2%;
	min-height: 150px;
	display: flex;
	align-items: left;
	flex-direction: column;
	justify-content:  left;
	font-size: 1rem;
	font-family: var(--font);
}
.carousel .testimonial::after {
	content: "";
	width: 15px;
	height: 15px;
	display: block;
	background: #f1f1f1;
	border: 1px solid #efefef;
	border-width: 0 0 1px 1px;
	position: absolute;
	bottom: -8px;
	left: 46px;
	transform: rotateZ(-46deg);
}

.carousel .overview {
	padding: 3px 0 0 15px;
}
.carousel .overview .details {
	padding: 5px 0 8px;
}
.carousel .overview b {
	text-transform: uppercase;
	color :var(--btn-color);
	/*margin-left: 0;*/
	/*padding-left: 0;*/
}
.carousel .carousel-indicators {
	bottom: -70px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 18px;
    height: 18px;
	border-radius: 50%;
	margin: 1px 2px;
}
.carousel-indicators li {	
    background: #e2e2e2;
    border: 4px solid #fff;
}
.carousel-indicators li.active {
	/*color: #fff;*/
	/*color: #fff;*/
    /*background: #1abc9c;*/
    background: var(--btn-color);
    border: 5px double;    
}
/*testimonial*//***************************************************************************/

/*info*//***************************************************************************/
.info-wrapper{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	padding: 0 10%;
	grid-gap: 2rem;
	margin-top: 5rem;
}
.info-wrapper .info-style{
	box-shadow: var(--shadow);
	/*border-radius: 10px;*/
	padding: 1rem;
	border-left: 10px solid #004E95;*/

}

.info-wrapper .info-style h2{
	color: #004E95;
	
}

.info-wrapper .about_pi{
	
}

.info-wrapper .about_pi .bio{
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 2;
	line-height: 5rem;

}
.info-wrapper .about_pi .content{


	/*border:2px solid red;*/
}

.info-wrapper .about_pi .content{
	/*border:1px solid red;*/
}
.info-wrapper .about_pi a{
	color: #004E95;
	margin-right: 5%;


}

.info-wrapper .content h5,h6,p,a{
	margin: 0;
	/*border:1px solid red;*/
}




.about-content{
	padding: 2% 2%;
}
.info-wrapper .about_pi .bio img{
	grid-row: 1/3;	
	justify-content: center;
	max-width: 80%;
	justify-self:end;
	margin: 0 1rem;
	display: block;
	min-width:140px;
}
.info-wrapper .about_pi .bio h5{
	grid-column: 2/3;
}
.info-wrapper .about_pi .bio h6{
	grid-column: 2/3;
}
.info-wrapper .about_pi img{
	

}
.info-wrapper .about_pi h5{
	

}
.info-wrapper .about_pi h6{


}
.info-wrapper .about_pi p{
	

}
.info-wrapper .about_pi h2{
	

}

.info-wrapper .news{
	box-shadow: var(--shadow);

}
.info-wrapper .news *{
	text-align: left;
}
/*.info-wrapper .news hr{
	margin: 0;
	margin-top:1rem;
	margin-bottom: 1rem;
	margin-left: 1rem;
}*/


/*info*//***************************************************************************/


/*contact*//***************************************************************************/
#contact{
	margin-top: 5rem;
}
#contact h2{
	margin-bottom: 2rem;
}
.contact-wrapper{
	/*color: black;*/
	/*border:2px solid red;*/
	display: grid;
	grid-template-columns: 1fr 1fr 2fr ;
	grid-template-areas: 'social details form ';
	padding-right: 5%;
	padding-left: 5%;
	padding-top: 5%;
	padding-bottom: 8%;
	color: #fff;

}
.contact-wrapper .social-links{
	/*border:1px solid green;*/
	min-width: 250px;
	grid-area: social;
	padding-top: 5%;
}
.contact-wrapper .contact-details{
	/*border:1px solid green;*/
	/*padding-left: 5%;*/
	min-width: 300px;
	grid-area: details;
	padding-top: 5%;
}
.contact-wrapper .form{
	/*border:1px solid green;*/
	grid-area: form;
	padding-top: 5%;
}
.contact-wrapper i{
	font-size: 1.5rem;
	padding-right: 1rem;

}
#contact button{
	margin-top: 20px;
}
.contact-wrapper div{
	/*border:1px solid red;*/
}

.contact-wrapper .social-links a{
	/*color: black;*/
}
.contact-wrapper .contact-details p{
	/*padding-right: 3rem;*/
	/*line-height: 2rem;*/
}
.blue-bg{
	 	 background-color: #013A6B;
	 	 background-image: -webkit-linear-gradient(30deg, #002649 50%, #004E95 50%);
	 	 min-height: 250px;
	 	 border-bottom: 1px solid rgb(255,255,255,0.4);
	}
/*contact*//***************************************************************************/

/*footer*//***************************************************************************/
.footer-links ul{
			list-style-type: none;
			/*border:1px solid green;*/
			padding-right: 5%;
			/*padding-right: 20%;*/
			/*border-left: 1px solid white;*/
		}
.footer-links li h6{
			color: var(--white);
			border-bottom: 1px solid rgb(255,255,255,0.4);
		}

.footer-links a:hover{
			text-decoration: underline;
			color: var(--white);
		}
.footer-links .logo{
			display: flex;
			flex-direction: column;
			align-items: center;
		}
.footer-links .logo img{
			width: 50%;
			max-width: 100px;
		}
.footer-wrapper div{
			/*border:1px solid red;*/
			justify-content: left;
			padding-top: 0;
			/*padding-right: 2%;*/
			border-left: 1px solid rgb(255,255,255,0.4);
			padding: 0;
			margin: 0;
			width: 100%;
		}
.footer-wrapper div:last-child{
			border-left: none;
			align-self: center;
			
		}
.footer-links{
			display: flex;
			justify-content: space-between;
			padding-right: 2%;
			padding-left: 2%;
			padding-bottom: 10px;
			padding-top: 10px;
		}
.footer-wrapper{
			background-color: var(--footer-color);	
			color: #fff;
			line-height: 1.5rem;
			font-size: 0.8rem;
			padding-top: 2%;
		}
.footer-wrapper p{
			text-align: center;
			color: rgb(255,255,255,0.4);
		}
/*footer*//***************************************************************************/


/*media queries*/

/*Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {  }

@media (min-width: 992px) {  
	.brand-custom {
			font-size: 1rem;
			font-weight: bold;
		}

	.navbar-nav a{
		font-size: 0.8rem;
	}
	.applications-grid{
		grid-template-columns: repeat(3,1fr);
	}
}


/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 
	/*about*****************************************/
	.about{
		padding: 0;
	}
	/*contact*****************************************/
		.contact-wrapper{
		grid-template-columns: 1fr 1fr ;
		grid-template-areas: 
		'social details  '
		'form  form ';
		}
	/*footer*****************************************/ 
		.footer-links{
			padding: 0;
		}
	}

@media (max-width: 992px) and (min-width: 768px){

		.applications-grid{
			grid-template-columns: 1fr 1fr;
		}

  }

 /*Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 

		nav{
			padding: 0;
		}
		/*nav*****************************************/	
		.brand-custom {
			font-size: 0.9rem;
			font-weight: bold;
		}

		/*about*****************************************/
		.about{
			background-image: linear-gradient(
	      rgba(0, 38, 73, 0.8),
	      rgba(0, 38, 73, 0.8)
	    ), url('images/about-s.jpg');
			/*background-image: url('images/about-s.jpg');*/
			background-attachment: fixed;
			background-repeat: no-repeat;
			background-size: 100%;
			grid-template-columns: 1fr;
			color: #fff;
			/*background-size: cover;*/
			border:2px solid red;
			margin-top:2rem; 
			margin-right: 0;
			margin-left: 0;
		}
		.about .image{
			display: none;
		}
		.about .content {
			/*border:2px solid green;*/
			padding: 2rem 2rem;
		}

		.about .content h2{
			color: #fff;
			border-bottom: 1px solid red;
		}
		.about .content h6{
			color: #fff;
		}
		/*about*****************************************/

		/*quote*****************************************/
				.quote{
			grid-template-columns: 1fr;
				}
				.quote .image{
					display: flex;
					align-items: center;
					justify-content: center;
				}
				.quote img{
				max-width: 30%;
				/*border: 1px solid red;*/
				/*float: right;*/
				}
		/*quote*****************************************/

		/*applications*****************************************/
			
				.application{
					padding: 1%;
				}
		/*applications*****************************************/

		/*activities*****************************************/
		.activities{
			grid-template-columns: 1fr;
		}
		.activities .v-image{
			display: block;
			display: flex;
			justify-content: center;

			
		}
		.activities .v-image img{
			
			
			
			max-width: 100%;

			
		}
		.activities .h-image{
			display: none;
		}
		/*collaboration*****************************************/

		/*collaboration*****************************************/	
		.collab {
		display: flex;
		flex-direction: column;
	}
		.collab .content{
		margin-left:0;
		text-align: center;
		align-self: center;
		justify-content: center;
		margin-left:10%;
		margin-right:10%;
	}
		.collab a{
			margin: 0;
			align-self:center;
	}
		/*INFO*/
		.info-wrapper{
			grid-template-columns: 1fr;
		}

		/*footer*****************************************/
			.footer-links{
				flex-direction: column;
			}

			#testimonialCarousel .testimonial-grid{	
	grid-template-columns: repeat(2,1fr);
	grid-template-rows: 1;	
}


.carousel{
		
		padding: 10px;	
	}

		}


@media (max-width: 768px) and (min-width: 576px){}


@media (max-width: 575.98px) {  

	.carousel{
		
		padding: 0;	
	}

		.info-wrapper .info-style{
	box-shadow: var(--shadow);
	/*border-radius: 10px;*/
	padding: 1rem;
	border-left: 5px solid #004E95;*/

}


			.info-wrapper .about_pi .bio{
				grid-template-columns: 1fr;
			}


			.info-wrapper .bio{
		grid-template-columns: 1fr;
		/*border:1px solid green;*/
	}

			html *{
				padding: 0;
				margin: 0;
			}
		/*nav*****************************************/
		
		.brand-custom {
			font-size: 0.7rem;
			margin:2%;
		}
		nav span .navbar-toggler-icon{
			max-width: 25px; 
			max-height: 25px; 
		}

		/*nav*****************************************/
		/*quote*****************************************/
			.quote{
		grid-template-columns: 1fr;
		}
		.quote .image{
					display: flex;
					align-items: center;
					justify-content: center;
				}
		.quote img{
		max-width: 50%;
		margin: 0 auto;
		/*border: 2px solid green;*/
		/*float: right;*/
		}
		/*quote*****************************************/

		/*applications*****************************************/

			.application .applications-grid{
			/*display:grid;*/
			/*border:5px solid pink;*/
			grid-template-columns: 1fr;
			/*grid-gap: 2rem;*/

		}
		.application .box{
			width: 100%;
			/*padding:1%;*/

		}
		.application{
				padding: 1%;
			}
		/*applications*****************************************/


		/*contact*****************************************/
			.contact-wrapper{
			display: block;
		}
		.contact-wrapper .social-links{
			min-width: 100%;

		}
			.contact-wrapper .contact-details{
			min-width: 100%;
		}
		/*collaboration*****************************************/
			.collab{
			padding-bottom: 0;
			padding: 0;
	}
			.collab a{
			width: 100%;	
			margin: 0;
	}

	.testimonial-wrapper{
		margin-bottom: 2rem;
	}

}

/*media queries*/





 



/*combined media queries*/




		

/*media query*/
/***************************************************************************/
