{% load static%}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
  	<meta name="author" content="">
	<!--Bootsrtap css-->
	<link rel="stylesheet" type="text/css" href="{% static '/bootstrap/css/bootstrap.min.css'%}">
	<!--fontawesome-->
	<link rel="stylesheet" type="text/css" href="{% static '/fontawesome/css/all.min.css'%}">
	<!--font-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300">
	<!--jquery-->
	<script type="text/javascript" src="{% static '/jquery.js'%}"></script>
	<!--popper-->
	<script type="text/javascript" src="{% static '/popper.min.js'%}"></script>
	<!--Bootstrap JS-->
	<script type="text/javascript" src="{% static '/bootstrap/js/bootstrap.min.js'%}"></script>	
	<!--custom css and js-->
	
	<link rel="stylesheet" type="text/css" href="{% static '/spoken/style.css' %}">
	<script type="text/javascript" src="{% static '/spoken/script.js' %}"></script>
	<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"> -->

	<!--scroll effect-->
	<script src="https://unpkg.com/scrollreveal"></script>
	<title>{% block title%}Default{% endblock title%}</title>
</head>
<body>

	{% block content  %}Content of Base {% endblock content %}
</body>
</html>