{% load static%}
{% load helper %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="spoken tutorial landing page">
  	<meta name="author" content="spoken tutorial">	
	<link rel="stylesheet" type="text/css" href="{% static '/bootstrap/css/bootstrap.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static '/fontawesome/css/all.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static '/spoken/style.css' %}">
	<title>{% block title%}Spoken Tutorial{% endblock title%}</title>
	<link rel = "icon" href ="{% static '/spoken/images/favicon.ico'%}" type = "image/x-icon"> 
	{% block css %}{% endblock css %}
</head>
<body>
	<!--bootstrap navbar -->
	<nav class="navbar navbar-expand-lg fixed-top navbar-light navbar-custom">
		<a id="logo" class="navbar-brand brand-custom" href="/"><img src="{% static '/spoken/images/logo.png' %}" class="d-inline-block " alt="">  Applications of Spoken Tutorials</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
	 <div class="collapse navbar-collapse" id="navbarSupportedContent">
	  <ul class="navbar-nav ml-auto">
		<li class="nav-item active">
		  <a class="nav-link scroll_link " href="{% url 'home'%}#home">Home<span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
		  <a class="nav-link scroll_link " href="{% url 'home'%}#about">About</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link scroll_link " href="{% url 'home'%}#applications">Applications</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link scroll_link " href="{% url 'home'%}#activities">Activities</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link scroll_link " href="{% url 'home'%}#contact">Contact</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link scroll_link " href="{% url 'tutorial_search'%}?search_foss=Advanced+Cpp&search_language=English" target="_blank">Tutorials</a>
		</li>
		{% if user.is_authenticated %}
		<div class="dropdown">
		  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="far fa-user-circle"></i> {{user.username}}
		  </a>
		
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
			{% if request.user|has_group:"VLE" %}
			<a class="dropdown-item" href="{% url 'csc:vle_dashboard' %}">VLE Dashboard</a>
			{% endif %}

			{% if request.user|has_group:"STUDENT" %}
			<a class="dropdown-item" href="{% url 'student:student_dashboard' %}">STUDENT Dashboard</a>
			{% endif %}
			
			{% comment %}<a class="dropdown-item" href="{% url 'change' %}">Change Password</a>{% endcomment %}

			<a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
		  </div>
		  
		</div>
		 <li class="nav-item active">
		  {{user.username}}
		</li>
		{% else %}
		<li class="nav-item active">
			<a class="nav-link scroll_link btn btn-secondary" href="{% url 'login'%}" >LOGIN</a>
			{% comment %} <a class="nav-link scroll_link " href="{% url 'login_other' %}" style="color:black">Other - Login</a> {% endcomment %}
		</li>
		
		<!--<li class="nav-item active">
			<div class="dropdown">
				<a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  <i class="far fa-user-circle"></i> Login
				</a>
			  
				<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
					{% comment %} <a class="nav-link scroll_link " href="{% url 'csc:login' %}" style="color:black">CSC - Login</a> {% endcomment %}
					<a class="nav-link scroll_link " href="{% url 'login_other' %}" style="color:black">Other - Login</a>

				</div>
			  </div>
			 <div class="dropdown">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
				  Login
				</button>
				<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
				  <li></li>
				  <li></li>
				</ul>
			  </div> 
		</li>-->
		{% endif %}
	  </ul>
	</div>
  </nav><!--/bootstrap navbar--->
  
	{% block content  %}Problem in accessing index.html{% endblock content %}
	<!--jquery-->
	<script type="text/javascript" src="{% static '/jquery.js'%}"></script>
	<!--popper-->
	<script type="text/javascript" src="{% static '/popper.min.js'%}"></script>
	<!--Bootstrap JS-->
	<script type="text/javascript" src="{% static '/bootstrap/js/bootstrap.min.js'%}"></script>	
	<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
	<!-- tab view for activities -->
	<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.js"></script>
	<!--scroll effect-->
	<script type="text/javascript" src="{% static '/spoken/scrollreveal.js' %}"></script>
	<!-- custom js -->
	<script type="text/javascript" src="{% static '/spoken/script.js' %}"></script>
	{% block script %}{% endblock script %}
</body>
</html>