{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title%} Applications of Spoken Tutorials {% endblock title%}
{% load helper %}

{% block content%}
<!--bootstrap navbar--->
  <nav class="navbar navbar-expand-lg fixed-top navbar-light navbar-custom">
    
      <a id="logo" class="navbar-brand brand-custom" href=""><img src="{% static '/spoken/images/logo.png' %}" width="30" height="30" class="d-inline-block " alt="">  Applications of Spoken Tutorials</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link scroll_link " href="#home">Home<span class="sr-only">(current)</span></a>
      </li>
      {% if nav_list %}
          {% for nav in nav_list %}
          <li class="nav-item">
            <a class="nav-link scroll_link" href="#{{nav.data_section}}">{{nav.nav_name}}</a>
          </li>
          {% endfor %}
          {% endif %}
    </ul>
  </div>
</nav><!--/bootstrap navbar--->

<!-- quote -->
<section class="quote container-fluid" id="home">
  <div class="image">
  <img src="{% static '/spoken/images/apj_1.png' %}">
</div>
<div class="content">
  <p>
    "The most unfortunate thing is that India still seems to believe in proprietary solutions. Further spread of IT which is influencing the daily life of individuals would have a devastating effect on the lives of society due to any small shift in the business practice involving these proprietory solutions. It is precisely for these reasons open source software need to be built which would be cost effective for the entire society.
    <br>In India, open source code software will have to come and stay in a big way for the benefit of our billion people."</p>
    <br><p class="name">- Dr. A. P. J. Abdul Kalam</p>
  </p>
</div>
</section>
<!-- quote -->
<!--about-->
<section class="about" id="about">
  <div class="embed-responsive embed-responsive-4by3 image">
  <iframe class="embed-responsive-item" width="100%"  src="https://www.youtube.com/embed/UCWqRqp-G6w?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
  <div class="content">
    <h2>About Us</h2>
        <h6>Spoken Tutorial is a multi-award winning educational content portal.</h6> 
          <p>Here one can learn various Free and Open Source Software all by oneself. Our self-paced, multi-lingual courses ensure that anybody with a computer and a desire for learning, can learn from any place, at any time and in a language of their choice.</p>
          <p>
            All the content published on this website are shared under the CC BY SA license. Our courses are simple and easy to follow even for a beginner but they also meet the growing needs of the learner. 
          </p> 
        <p>
        <a class="about-btn btn" href="https://spoken-tutorial.org/about-us/" class="btn" target="_blank">Learn More</a>
        </p> 
  </div>
</section>
<!--about-->
<!-- awards -->
<section id="awards">
  {% for award in awards %}
  <div class="award-bg">
    {% ifequal forloop.counter|divisibleby:"2" False %}
     <i class="fas fa-award"></i>
     {% else %}
     <i class="fas fa-trophy"></i>
    {% endifequal %}
   <h5 class="year">{{award.year}}</h5>
   <a href="{{award.link}}"><h5 class="title">{{award.title}}</h5></a>
  </div>
  {% endfor %}
</section>
<!-- awards -->

<!-- applications -->
<section id="applications">
<h2 class="text-center header-m">Applications</h2>
<div id="products">
  {% for product in products%}
       <div class="box text-center">   
        <div class="header">         
          <img src="{{ product.logo.url }}">
          <h4>{{product.product_name}}</h4>
        </div>
        <div>
          <p>{{product.product_description}}</p>
          <hr>
          <div class="link-app"><a href="{{product.product_url}}" class="stretched-link" target="_blank">Learn More <span class="app-i"><i class="fas fa-angle-double-right stretched-link"></i></span></a></div>
        </div>       
      </div>
      {% endfor%}
</div>
</section>
<!-- activities -->
<section class="events" id="activities"> <!-- container with heading, image and content -->
    <h2 class="text-center header-m">Activities</h2>
   <div class="activities"> 
    <div class="act-image">
      <div class="v-image"><img src="{% static '/spoken/images/activities1.jpg' %}"></div>
    <div class="h-image"><img src="{% static '/spoken/images/activities2.jpg' %}"></div>

    </div>
    
    <div class="a-content">
        <div class="btn-activities" id="activities-filter">
       <button id="filter-jobfair" class="filter_div" data-filter=".filter-jobfair"><i class="fas fa-briefcase fa" ></i> <span>Jobfair</span></button>
        <button id="filter-workshop" class="filter_div" data-filter=".filter-workshop"><i class="fas fa-chalkboard-teacher fa" ></i><span>workshop</span></button>
        <button id="filter-internship" class="filter_div" data-filter=".filter-internship"><i class="fas fa-university fa" ></i><span>Internship</span></button>
        </div>

        <hr>
        
      <div class=" activities-container ">
        <div class="filter-jobfair box-activities">
          {% for jobfair in jobfairs%}
          <div class="activities-event ">
            <div class="date"><p><i class="fas fa-calendar-alt"></i>{{jobfair.jobfair_start_date}}</p></div>
            <div class="content">
            <h6>{{jobfair.jobfair_title}}</h6>
            <p>Participating Companies :  </p>
            <p>
              {% for company in jobfair.companies.all%}
              <span style="padding-right: 1rem;">{{company}}</span>
              {% endfor%}
            </p>
            </div>
            </div> 
          {% endfor %}
     <!--      <div> <i class="fas fa-angle-double-right"></i><a href="#" class="link-explore" target="_blank">Explore more Job Fairs </a></div> -->
        </div>
        <div class="filter-workshop box-activities">
          {% for workshop in workshops%}
          <div class="activities-event">
            <div class="icon date"><p><i class="fas fa-calendar-alt"></i>{{workshop.workshop_date}}</p></div>
            <div class="image"><img src="{% static '/spoken/images/logo.png' %}"></div>
            <div class="content">
             <h6>{{workshop.workshop_title}}</h6>
             <p>{{workshop.workshop_content}}</p>
            </div>
            </div> 
          {% endfor %}
          <!-- <div> <i class="fas fa-angle-double-right"></i><a href="#" class="link-explore" target="_blank">Explore more Workshops </a></div> -->
        </div>
        <div class="filter-internship box-activities">
           {% for internship in internships%}
          <div class="activities-event">
            <div class="icon date"><p><i class="fas fa-calendar-alt"></i>{{internship.internship_date}}</p></div>
            <div class="content">
             <h6>{{internship.internship_title}}</h6>
             <p>{{internship.internship_desc}}</p>
            </div>
            </div> 
          {% endfor %}
          <!-- <div> <i class="fas fa-angle-double-right"></i><a href="#" class="link-explore" target="_blank">Explore more Internships </a></div> -->
        </div>
      </div>
    </div>
  </div> 
</section> <!-- container with heading, image and content -->
<!-- activities -->



<!-- Testimonial -->
 <section id="testimonial">
  <div id="testimonialCarousel" class="carousel" data-ride="carousel">
   <h2 class="text-center header-m">Testimonials</h2>
  
  <ol class="carousel-indicators">
    <li data-target="#testimonialCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#testimonialCarousel" data-slide-to="1"></li>
    <li data-target="#testimonialCarousel" data-slide-to="2"></li>
  </ol>
  
<div class="carousel-inner">
  {% for data in testimonials%}
  {% ifequal forloop.counter|divisibleby:"2" False %}
  {% if forloop.first%}
  <div class="item carousel-item active">
            <div class="row">   
  {% else %}
 <div class="item carousel-item ">
            <div class="row">
  {% endif %}
  {% endifequal%}
   <div class="col-sm-6">
                <div class="testimonial-wrapper">
                  <div class="testimonial">
                  <p>{{ data.minified_content|len_cutter:250 }}</p>
                  <a href="{{data.source_link}}" target="_blank">Read</a>
                  </div>         
                  <div class="media">
                    <div class="media-body">
                      <div class="overview">
                        <div class="name"><b>{{data.user_name}}</b></div>
                        <div class="details">{{data.short_description}}</div>
                      </div>                    
                    </div>
                  </div>
                </div>                
              </div>
  {% ifequal forloop.counter|divisibleby:"2" True %}
  </div>
  </div>
  {% endifequal%}
  {% endfor %} 
  </div>
  </div> 
  </div>
  </div>


</section>
<section class=" media-testimonials">
    <div >
    <div>
      {% for data in media_testimonials%}
    <div class=" media-testimonials-grid">  
       <video class="st_video align-self-center" title='{{ data.foss }}' controls preload data-setup="{}">
      <source src="{{ media_url}}{{data.media}}" type="video/mp4"></source>
      </video>
    <div class="content">
    <h6 class="mt-0">{{data.user}}</h6>
    <p>{{data.content}}</p>
    </div>
</div>
      {% endfor %}
      
    </div>
  </div>
  
</section>

<!-- testimonial -->

<!-- collaborate -->
<section class="collab container-fluid">
  <div class="content">
    <h1>Collaborate with us</h1>
    <p>We invite you to become a part of this amazing journey of making India IT-literate. Join our growing network of Resources Centres, Organisers, Content creators, Domain Experts, Translators, Dubbers, Reviewers and help us to reach every nook and corner of India. </p> 

  </div>
  <a href="http://futureskills.nasscom.in/" class="collab-nasscom" target="_blank">Partnered with Nasscom</a>
  <a href="https://spoken-tutorial.org/accounts/login/?next=/creation/collaborate/" class="btn" target="_blank">Join us</a>
</section>
<!-- collaborate -->
<!-- about PI & news & events  -->
<section id="info">
  
  <div class="info-wrapper">
    <div class="about_pi info-style">
    <h2>About PI</h2>
    <div class="bio">
      <div>
      <img src="{% static '/spoken/images/pi_photo.jpg' %}">  
      </div>
      
      <div class="content">
      <h5>Kannan Moudgalya</h5>
      <h6>Professor of Chemical Engineering, IIT Bombay</h6>
      <p><a href="https://www.youtube.com/watch?v=JaX_uD8JFpI&feature=youtu.be" target="_blank"><i class="fab fa-youtube"></i>TEDx Talk</a>
      <br><a href="https://twitter.com/kannanmoudgalya" target="_blank"><i class="fab fa-twitter"></i>Follow</a>
      <br><a href="https://www.che.iitb.ac.in/online/faculty/kannan-m-moudgalya" target="_blank">Details</a>
      </p> 
        
      </div>
      
    </div>
    <p class="about-content">
        Professor Kannan is devoting his time in spreading education on a massive scale, without quality dilution.  He has been focusing on Spoken Tutorials, Open Source Software, Affordable Tablets and Laptops.  He believes that it is possible to provide high quality education to all our children through a combination of Education, and Information & Communication Technologies, making India a developed country in the process.
      </p>

  </div>
   
  <div class="news info-style">
    <h2>News / Events</h2>
    <hr>
    <div class="news-content">
    <p>Check out the amazing 
      <span><a href="https://spoken-tutorial.org/testimonials/text/" target="_blank">testimonials, </a></span>
      <span><a href="https://spoken-tutorial.org/news/articles-on-spoken-tutorial-project/" target="_blank">media articles, </a></span>
      <span><a href="https://spoken-tutorial.org/news/news-and-events/" target="_blank">events, </a></span>
      <span><a href="https://spoken-tutorial.org/news/official-letters-and-links/" target="_blank">collaboration, </a></span>
 , seminars, talks and campaigns about the Spoken Tutorial Project. Browse through our gallery and see what the Project has been doing across India.</p>  
    </div>
    
  </div>
  </div>
  
</section>
<!-- about PI & news & events  -->
<!-- contact -->
<section id="contact">
  <h2>Contact</h2>
  <div class="contact-wrapper blue-bg"> <!-- grid with 3 columns -->
    <div class="social-links"> <!--column 1-->
       <p><i class="fab fa-youtube"></i><a href="https://www.youtube.com/user/SpokenTutorialIITB/" target="_blank">ST youtube Channel</a></p>
       <p><i class="fab fa-youtube"></i><a href="https://www.youtube.com/channel/UCmyV3lKT1Gs1AfgtV8pp__Q" target="_blank">Health youtube Channel</a></p>
       <p><i class="fab fa-facebook-square"></i><a href="https://www.facebook.com/SpokenTutorial.org" target="_blank">Facebook page</a></p>
       <p><i class="fab fa-skype"></i><a href="" target="_blank">st-iitb</a></p>
    </div>
    <div class="contact-details"> <!--column 2-->
      <p><i class="fas fa-map-marker-alt map-mark"></i>Spoken Tutorial Project,
        <br>TCS Lab,Behind CAD Centre,
        <br>IIT Bombay, Powai,  Mumbai - 400076</p>
        <p><i class="fas fa-phone-alt fa-2x"></i>+ 91 22 25764229</p>
        <p><i class="fas fa-envelope fa-2x"></i>contact@spoken-tutorial.org</p>
    </div>
    <div class="form"> <!--column 3-->
           {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div>
        <form action="" method="post">
            {% csrf_token %}          
           <!--  {{ form.as_table }} -->
            <div class="row">
              <div class="col-6">
              {{ form.name|as_crispy_field }}
              </div>
              <div class="col-6">
              {{ form.email|as_crispy_field }}
              </div>
            </div>
            {{ form.subject|as_crispy_field }}
            {{ form.message|as_crispy_field }}                
            <button type="submit" class="btn form-btn">Submit</button>       
        </form> 
        </div>
</div>
  </div>
</section>

<!-- contact -->
<!-- footer -->
<section class="footer-wrapper">
  <footer class="footer-links"> <!--flexbox with 5 divs-->
  <div> <!--flex child 1-->
    <ul>
      <li><h6>Open Source</h6></li>
      <li><a href="https://fossee.in/" target="_blank">FOSSEE Project</a></li>
      <li><a href="https://www.scilab.in/" target="_blank">Scilab</a></li>
      <li><a href="https://esim.fossee.in/" target="_blank"> eSim(Oscad)</a></li>
      <li><a href="https://python.fossee.in/" target="_blank"> Python</a></li>
      <li><a href="https://cfd.fossee.in/" target="_blank"> OpenFoam(CFD)</a></li>  
    </ul>
  </div>
  <div> <!--flex child 2-->
    <ul>
      <li><h6>Training </h6></li>
      <li><a href="https://process.spoken-tutorial.org/index.php/Software-Training" target="_blank"> Software Training</a></li>
      <li><a href="https://process.spoken-tutorial.org/index.php/Software-Training#Contacts_For_Training" target="_blank"> Contacts for Training</a></li>
      <li><a href="https://spoken-tutorial.org/accounts/login/?next=/software-training/" target="_blank">  Training Dashboard</a></li>
      <li><a href="https://spoken-tutorial.org/accounts/login/?next=/creation/" target="_blank">  Creation Dashboard </a></li>
    </ul>
  </div>
  <div> <!--flex child 3-->
    <ul>
      <li><h6> Other </h6></li>
      <li><a href="https://aakashlabs.org" target="_blank">Aakash Labs</a></li>
      <li><a href="https://www.co-learn.in/" target="_blank"> Co-learn</a></li>
      <li><a href="https://www.sakshat.ac.in/" target="_blank"> Education Mission</a></li>
    </ul>
  </div> 
  <div><!--flex child 4-->
    <ul>
      <li><h6> About Us</h6></li>
      <li><a href="https://spoken-tutorial.org/about-us/" target="_blank"> About Us</a></li>
      <li><a href="https://spoken-tutorial.org/news/article/" target="_blank"> News</a></li>
      <!-- <li><a href="">  Click here to view stats</a></li> -->
      
    </ul>
  </div>
  <div class="logo"> <!--flex child 5-->
    <img src="{% static '/spoken/images/iitb-logo.png' %}">
    <span>Developed at IITB</span>
  </div>
</footer>
<p>Spoken Tutorial by IIT Bombay is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License, except where stated otherwise 
Based on a work at https://spoken-tutorial.org. Permissions beyond the scope of this license may be available at https://spoken-tutorial.org.</p>
</section> <!-- footer -->

{% endblock content%}


