{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title%} Applications of Spoken Tutorials {% endblock title%}
{% load helper %}

{% block script %}<script src='https://www.google.com/recaptcha/api.js'></script>{% endblock script %}


{% block content%}
<!--bootstrap navbar--->
  <nav class="navbar navbar-expand-lg fixed-top navbar-light navbar-custom">
      <a id="logo" class="navbar-brand brand-custom" href=""><img src="{% static '/spoken/images/logo.png' %}" class="d-inline-block " alt="">  Applications of Spoken Tutorials</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
   <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link scroll_link " href="#home">Home<span class="sr-only">(current)</span></a>
      </li>
      {% if nav_list %}
          {% for nav in nav_list %}
          <li class="nav-item">
            <a class="nav-link scroll_link" href="#{{nav.data_section}}">{{nav.nav_name}}</a>
          </li>
          {% endfor %}
          {% endif %}
    </ul>
  </div>
</nav><!--/bootstrap navbar--->

<!-- quote -->
<section class="quote container-fluid" id="home">
  <div class="image">
  <img src="{% static '/spoken/images/apj_1.png' %}">
</div>
<div class="content">
  <p>
    "The most unfortunate thing is that India still seems to believe in proprietary solutions. Further spread of IT which is influencing the daily life of individuals would have a devastating effect on the lives of society due to any small shift in the business practice involving these proprietory solutions. It is precisely for these reasons open source software need to be built which would be cost effective for the entire society.
    <br>In India, open source code software will have to come and stay in a big way for the benefit of our billion people."</p>
    <br><p class="name">- Dr. A. P. J. Abdul Kalam</p>
  </p>
</div>
</section>
<!-- quote -->
<!--about-->
<section class="about" id="about">
  <div class="embed-responsive embed-responsive-4by3 image">
  <iframe class="embed-responsive-item" width="100%"  src="https://www.youtube.com/embed/UCWqRqp-G6w?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
  <div class="content">
    <h2>About Us</h2>
        <h6>Spoken Tutorial is a multi-award winning educational content portal.</h6> 
          <p>Here one can learn various Free and Open Source Software all by oneself. Our self-paced, multi-lingual courses ensure that anybody with a computer and a desire for learning, can learn from any place, at any time and in a language of their choice.</p>
          <p>
            All the content published on this website are shared under the CC BY SA license. Our courses are simple and easy to follow even for a beginner but they also meet the growing needs of the learner. 
          </p> 
        <p>
        <a class="about-btn btn" href="https://spoken-tutorial.org/about-us/" class="btn" target="_blank">Learn More</a>
        </p> 
  </div>
</section>
<!--about-->


<!-- applications -->
<section id="applications" class="">
<h2 class="text-center header-m">Applications</h2>
<div id="products">
  {% for product in products%}
       <div class="app">
        <div class="app-name">
          <div class="logo-bg"><img src="{{ product.logo.url }}"></div>
          
        <h4>{{product.product_name}}</h4>
        </div>
       <!-- <br> -->
        <p style="text-decoration: none;">{{product.product_description|safe}}</p>
        <!-- <hr> -->
        <div class="app-link">
          <!-- <hr> -->
          <a href="{{product.product_url}}" class="btn1" target="_blank">Learn More  <span class="app-i"><i class="fas fa-angle-double-right"></i></span></a>
        </div>
      </div>
      {% endfor%}
</div>
</section>

<!-- donate -->
<section style="padding-right:  5%;padding-left:  5%; padding-bottom: 5%;">
  <div style="width: 100%;height: 100px;" class="is-shady">
    <div class="row">
      <div class="col-6 d-flex justify-content-center"><button type="button" class="btn btn-info-spk"><span class="mr-3"><i class="fas fa-rupee-sign"></i></span><a href="#">Donate</a></button></div>
      <div class="col-6 d-flex justify-content-center"><button type="button" class="btn btn-info-spk"><span class="mr-3"><i class="fas fa-tshirt"></i></span><a href="#">Buy a T-Shirt</a></button></div>
    </div>
  </div>
</section>
<!-- donate -->

<!-- awards -->
<h2 class="text-center header-m">Awards and Recognition</h2>
<section id="awards">
  {% for award in awards %}
  <div class="award-bg">
    {% ifequal forloop.counter|divisibleby:"2" False %}
     <i class="fas fa-award"></i>
     {% else %}
     <i class="fas fa-trophy"></i>
    {% endifequal %}
   <h5 class="year">{{award.year}}</h5>
   <a href="{{award.link}}" target="_blank"><h5 class="title">{{award.title}}</h5></a>
  </div>
  {% endfor %}
</section>
<!-- awards -->

<!-- activities -->
<section class="events" id="activities"> <!-- container with heading, image and content -->
    <h2 class="text-center header-m">Activities</h2>
   <div class="activities"> 
    <div class="act-image">
      <div class="v-image"><img src="{% static '/spoken/images/activities1.jpg' %}"></div>
    <div class="h-image"><img src="{% static '/spoken/images/activities2.jpg' %}"></div>

    </div>
    
    <div class="a-content">
        <div class="btn-activities" id="activities-filter">
       <button id="filter-jobfair" class="filter_div" data-filter=".filter-jobfair"><i class="fas fa-briefcase fa" ></i> <span>Jobfair</span></button>
        <button id="filter-workshop" class="filter_div" data-filter=".filter-workshop"><i class="fas fa-chalkboard-teacher fa" ></i><span>Workshop</span></button>
        <button id="filter-internship" class="filter_div" data-filter=".filter-internship"><i class="fas fa-university fa" ></i><span>Internship</span></button>
        </div>

        <hr>
        
      <div class=" activities-container ">
        <div class="filter-jobfair box-activities">
          {% for jobfair in jobfairs reversed%}
          <div class="activities-event ">
            <div class="date">
              <p><i class="fas fa-calendar-alt"></i></p>
            <p>{% get_formatted_year jobfair.jobfair_start_date jobfair.jobfair_end_date as date %}
        {{date}}</p>
            </div>
            <div class="content">
            <h6>{{jobfair.jobfair_title}}</h6>
            <p>Participating Companies :  </p>
            <p>
              {% for company in jobfair.companies.all%}
              <span>{{company}}</span>
              {% if not forloop.last %}
              <span style="padding-right: 1rem;">,</span>
              {% endif %}
              {% endfor %}
            </p>
            </div>
            </div> 
          {% endfor %}
          <div> <i class="fas fa-angle-double-right"></i><a href="{% url 'jobfairs' %}" class="link-explore" target="_blank">Explore more Job Fairs </a></div>
        </div>
        <div class="filter-workshop box-activities">
          {% for workshop in workshops reversed%}
          <div class="activities-event">
            <div class="icon date"><p><i class="fas fa-calendar-alt"></i></p>
              <p>{% get_formatted_year workshop.workshop_start_date workshop.workshop_end_date as date %}
        {{date}}</p>
            </div>
            {% if workshop.workshop_logo %}
            <div class="image"><img src="{{workshop.workshop_logo.url}}"></div>
            {% endif %}
            <div class="content">
             <h6>{{workshop.workshop_title}}</h6>
             <p>{{workshop.workshop_content}}</p>
            </div>
            </div> 
          {% endfor %}
          <!-- <div> <i class="fas fa-angle-double-right"></i><a href="#" class="link-explore" target="_blank">Explore more Workshops </a></div> -->
        </div>
        <div class="filter-internship box-activities">
           {% for internship in internships reversed%}
          <div class="activities-event">
            <div class="icon date"><p><i class="fas fa-calendar-alt"></i></p>
            <p>{% get_formatted_year internship.internship_start_date internship.internship_end_date as date %}
        {{date}}</p>
            </div>
            <div class="content">
             <h6>{{internship.internship_title}}</h6>
             <p>{{internship.internship_desc}}</p>
            </div>
            </div> 
          {% endfor %}
          <!-- <div> <i class="fas fa-angle-double-right"></i><a href="#" class="link-explore" target="_blank">Explore more Internships </a></div> -->
        </div>
      </div>
    </div>
  </div> 
</section> <!-- container with heading, image and content -->
<!-- activities -->



<!-- Testimonial -->
 <section id="testimonial">
  <div id="testimonialCarousel" class="carousel" data-ride="carousel" data-interval="false">
   <h2 class="text-center header-m">Testimonials</h2>
  
  <ol class="carousel-indicators">
    <li data-target="#testimonialCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#testimonialCarousel" data-slide-to="1"></li>
    <li data-target="#testimonialCarousel" data-slide-to="2"></li>
  </ol>
  
<div class="carousel-inner">
  {% for data in testimonials%}
  {% ifequal forloop.counter|divisibleby:"2" False %}
  {% if forloop.first%}
  <div class="item carousel-item active">
            <div class="row">   
  {% else %}
 <div class="item carousel-item ">
            <div class="row">
  {% endif %}
  {% endifequal%}
   <div class="col-sm-6">
                <div class="testimonial-wrapper">
                  <div class="testimonial">
                  <span><i class="fas fa-quote-left"></i></span>
                  <p> {{ data.actual_content|len_cutter:250 }}</p>
                  <a href="https://spoken-tutorial.org/testimonials/text/" target="_blank" data-toggle="modal" data-target="#testimonial-{{forloop.counter}}">Read</a>
<!-- Modal -->
<div class="modal fade" id="testimonial-{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title">
          <h5 id="exampleModalLongTitle">{{data.user_name}}</h5>
          <h6>{{data.user_short_description}}</h6>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{data.actual_content}}</p>
      </div>
      <div class="modal-footer">
        <a href="https://spoken-tutorial.org/testimonials/text/" target="_blank" class="btn">Read More Testimonials</a> 
      </div>
    </div>
  </div>
</div>
                  </div>         
                  <div class="media">
                    <div class="media-body">
                      <div class="overview">
                        <div class="name"><b>{{data.user_name}}</b></div>
                        <div class="details">{{data.user_short_description}}</div>
                      </div>                    
                    </div>
                  </div>
                </div>                
              </div>
  {% ifequal forloop.counter|divisibleby:"2" True %}
  </div>
  </div>
  {% endifequal%}
  {% endfor %} 
  </div>
  </div> 
  </div>


  </div>
</section>
<!-- <div style="margin:100px;border:2px solid red;height: 20px;"></div> -->
<section class="video-testimonials">
  {% for data in media_testimonials%}
  <div class="item">
  <div class="header">
    <video controls>
      <source src="{{ media_url}}{{data.media}}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
  </div>
  <div class="content">
    <h6>{{data.user}}</h6>
    <p>{{data.user_short_desc}}</p>
    <p class="add-details">{{data.additional_details}}</p>

    <p>{{data.content}}</p>
  </div>
  <div class="blank"></div>
  </div>
   {% endfor %}
</section>

<!-- collaborate -->
<section class="collab ">
  <div class="partners">
    <h2 class="collab-nasscom">We are partnered with</h2>
    <div class="logos">
    <a href="http://futureskills.nasscom.in/" target="_blank"><img src="{% static '/spoken/images/nasscom.png' %}"></a>
    <a href="https://swayam.gov.in/explorer?searchText=kannan" target="_blank"><img src="{% static '/spoken/images/swayam_logo.png' %}"></a>

    </div>
    
  </div>
  <div class="content">
    <h2>Collaborate with us</h2>
    <p>We invite you to become a part of this amazing journey of making India IT-literate. Join our growing network of Resources Centres, Organisers, Content creators, Domain Experts, Translators, Dubbers, Reviewers and help us to reach every nook and corner of India. </p> 
    <a href="https://spoken-tutorial.org/accounts/login/?next=/creation/collaborate/" class="btn" target="_blank">Join us</a>
  </div>
</section>
<!-- collaborate -->
<!-- about PI & news & events  -->
<section id="info">
  
  <div class="info-wrapper">
    <div class="about_pi info-style">
    <h2>About PI</h2>
    <div class="bio">
      <div>
      <img src="{% static '/spoken/images/pi_photo.jpg' %}">  
      </div>
      
      <div class="content">
      <h5>Kannan Moudgalya</h5>
      <h6>Professor of Chemical Engineering, IIT Bombay</h6>
      <p><a href="https://www.youtube.com/watch?v=JaX_uD8JFpI&feature=youtu.be" target="_blank"><i class="fab fa-youtube"></i>TEDx Talk</a>
      <br><a href="https://twitter.com/kannanmoudgalya" target="_blank"><i class="fab fa-twitter"></i>Follow</a>
      <br><a href="https://www.che.iitb.ac.in/online/faculty/kannan-m-moudgalya" target="_blank">Details</a>
      </p> 
        
      </div>
      
    </div>
    <p class="about-content">
        Professor Kannan is devoting his time in spreading education on a massive scale, without quality dilution.  He has been focusing on Spoken Tutorials, Open Source Software, Affordable Tablets and Laptops.  He believes that it is possible to provide high quality education to all our children through a combination of Education, and Information & Communication Technologies, making India a developed country in the process.
      </p>

  </div>
   
  <div class="news info-style">
    <h2>News / Events</h2>
    <hr>
    <div class="news-content">
    <p>Check out the amazing 
      <span class="link-style"><a href="https://spoken-tutorial.org/testimonials/text/" target="_blank">testimonials, </a></span>
      <span class="link-style"><a href="https://spoken-tutorial.org/news/articles-on-spoken-tutorial-project/" target="_blank">media articles, </a></span>
      <span class="link-style"><a href="https://spoken-tutorial.org/news/news-and-events/" target="_blank">events, </a></span>
      <span class="link-style"><a href="https://spoken-tutorial.org/news/official-letters-and-links/" target="_blank">collaboration </a></span> and
      <span class="link-style"><a href="https://spoken-tutorial.org/research-popular-articles/" target="_blank">articles </a></span> about the Spoken Tutorial Project and see what the Project has been doing across India.</p>  
    </div>
    
  </div>
  </div>
  
</section>
<!-- about PI & news & events  -->
<!-- contact -->
<section id="contact">
  <h2>Contact</h2>
  <div class="contact-wrapper blue-bg"> <!-- grid with 3 columns -->
    <div class="social-links"> <!--column 1-->
       <p><i class="fab fa-youtube"></i><a href="https://www.youtube.com/user/SpokenTutorialIITB/" target="_blank">ST YouTube Channel</a></p>
       <p><i class="fab fa-youtube"></i><a href="https://www.youtube.com/channel/UCmyV3lKT1Gs1AfgtV8pp__Q" target="_blank">Health YouTube Channel</a></p>
       <p><i class="fab fa-facebook-square"></i><a href="https://www.facebook.com/SpokenTutorial.org" target="_blank">Facebook page</a></p>
       <p><i class="fab fa-skype"></i><a href="" target="_blank">st-iitb</a></p>
    </div>
    <div class="contact-details"> <!--column 2-->
      <p><i class="fas fa-map-marker-alt map-mark"></i>Spoken Tutorial Project,
        <br>TCS Lab,Behind CAD Centre,
        <br>IIT Bombay, Powai,  Mumbai - 400076</p>
        <p><i class="fas fa-phone-alt fa-2x"></i>+ 91 22 25764229</p>
        <p><i class="fas fa-envelope fa-2x"></i>contact@spoken-tutorial.org</p>
    </div>
    <div class="form"> <!--column 3-->
           {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div>
        <form action="" method="post">
            {% csrf_token %}          
           <!--  {{ form.as_table }} -->
            <div class="row">
              <div class="col-6">
              {{ form.name|as_crispy_field }}
              </div>
              <div class="col-6">
              {{ form.email|as_crispy_field }}
              </div>
            </div>
            {{ form.subject|as_crispy_field }}
            {{ form.message|as_crispy_field }} 

            <div class="g-recaptcha" data-sitekey="{{SITE_KEY}}"></div>               

            <button type="submit" class="btn form-btn">Submit</button>       
        </form> 
        </div>
</div>
  </div>
</section>

<!-- contact -->
<!-- footer -->
<section class="footer-wrapper">
  <footer class="footer-links"> <!--flexbox with 5 divs-->
  <div> <!--flex child 1-->
    <ul>
      <li><h6>Open Source</h6></li>
      <li><a href="https://fossee.in/" target="_blank">FOSSEE Project</a></li>
      <li><a href="https://www.scilab.in/" target="_blank">Scilab</a></li>
      <li><a href="https://esim.fossee.in/" target="_blank"> eSim(Oscad)</a></li>
      <li><a href="https://python.fossee.in/" target="_blank"> Python</a></li>
      <li><a href="https://cfd.fossee.in/" target="_blank"> OpenFoam(CFD)</a></li>  
    </ul>
  </div>
  <div> <!--flex child 2-->
    <ul>
      <li><h6>Training </h6></li>
      <li><a href="https://process.spoken-tutorial.org/index.php/Software-Training" target="_blank"> Software Training</a></li>
      <li><a href="https://process.spoken-tutorial.org/index.php/Software-Training#Contacts_For_Training" target="_blank"> Contacts for Training</a></li>
      <li><a href="https://spoken-tutorial.org/accounts/login/?next=/software-training/" target="_blank">  Training Dashboard</a></li>
      <li><a href="https://spoken-tutorial.org/accounts/login/?next=/creation/" target="_blank">  Creation Dashboard </a></li>
    </ul>
  </div>
  <div> <!--flex child 3-->
    <ul>
      <li><h6> Other </h6></li>
      <li><a href="https://mhrd.gov.in/ict-initiatives" target="_blank">MHRD Initiatives</a></li>
      <li><a href="http://futureskills.nasscom.in/" target="_blank">NASSCOM</a></li>
      <li><a href="https://swayam.gov.in/explorer?searchText=kannan" target="_blank">SWAYAM</a></li>
      <li><a href="https://www.sakshat.ac.in/" target="_blank"> Education Mission</a></li>
    </ul>
  </div> 
  <div><!--flex child 4-->
    <ul>
      <li><h6> About Us</h6></li>
      <li><a href="https://spoken-tutorial.org/about-us/" target="_blank"> About Us</a></li>
      <li><a href="https://spoken-tutorial.org/team/Creation-Team/" target="_blank"> Team</a></li>
      <li><a href="https://spoken-tutorial.org/news/article/" target="_blank"> News</a></li>
      <!-- <li><a href="">  Click here to view stats</a></li> -->
      
    </ul>
  </div>
  <div class="logo"> <!--flex child 5-->
    <img src="{% static '/spoken/images/iitb-logo.png' %}">
    <span>Developed at IITB</span>
  </div>
</footer>
<p>Spoken Tutorial by IIT Bombay is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License, except where stated otherwise 
Based on a work at https://spoken-tutorial.org. Permissions beyond the scope of this license may be available at https://spoken-tutorial.org.</p>
</section> <!-- footer -->

{% endblock content%}


