body{
	background: #EFF3F4;
}

.is-shady {
animation: flyintoright .4s backwards;
background: #fff;
box-shadow: rgba(0, 0, 0, .1) 0 1px 0;
border-radius: 4px;
display: inline-block;
/*margin: 10px;*/
position: relative;
transition: all .2s ease-in-out;
padding: 25px;
/*height: 250px;*/
height: 100%;
width: 100%;
margin-top: 20px;
}
.is-shady:hover {
box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
}
progress{
	height: 5px!important;
	width: 100%;
}
.last-view{
	position: absolute;
	bottom: 0;
	margin-bottom: 16px;
}
#course-prg .spk-card{
	margin-top: 16px;
}
#course-prg .spk-card h5{
  font-weight: bold;
}
#course-prg .fa-check-circle{
	color: #28a745;
	font-size: 1.2rem;
}
#course-prg .complete{
	margin-top: 32px;
}
.back-link{
	display: flex;
	justify-content: flex-end;
	padding: 16px;
	
}
.back-link a{
	color: #004E95!important;
}
.selectStyle{
  border: 2px solid #004E95!important;
}
.submitStyle{
  border-color: #004E95;
  color: #004E95;
  border: 2px solid #004E95;
  font-weight: bold;
}
.logoST img{
  width: 50px!important;
  height: 50px!important;
  margin-right: 12px;
}
.logoST{
  display: flex;
  align-items: center;
}
/*dropdown*/
.dropbtn {
  padding: 16px;
  font-size: 16px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: bold;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #004E95;
  color: #fff;
}

.dropdown .fa-user{
  margin-right: 10px;
}
/*dropdown*/
.search-bar .column{
  display: block;
}
.title1{
  font-weight: bold;
}
.title2{
  font-weight: bold;
  color: orange;
}
.session-info{
	padding: 32px;
}
#dashboard .container{
	/*width: 100%!important;*/
	max-width: 1152px;
}

@media only screen and (max-width: 768px) {
	.dropdown{
  float: none;
}
}

body{
background:#eee;
}

.card-box {
    position: relative;
    color: #fff;
    padding: 20px 10px 40px;
    margin: 20px 0px;
}
.card-box:hover {
    text-decoration: none;
    color: #f1f1f1;
}
.card-box:hover .icon i {
    font-size: 100px;
    transition: 1s;
    -webkit-transition: 1s;
}
.card-box .inner {
    padding: 5px 10px 0 10px;
}
.card-box h3 {
    font-size: 27px;
    font-weight: bold;
    margin: 0 0 8px 0;
    white-space: nowrap;
    padding: 0;
    text-align: left;
}
.card-box p {
    font-size: 15px;
}
.card-box .icon {
    position: absolute;
    top: auto;
    bottom: 5px;
    right: 5px;
    z-index: 0;
    font-size: 72px;
    color: rgba(0, 0, 0, 0.15);
}
.card-box .card-box-footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
    padding: 3px 0;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    text-decoration: none;
}
.card-box:hover .card-box-footer {
    background: rgba(0, 0, 0, 0.3);
}
.bg-blue {
    background-color: #00c0ef !important;
}
.bg-green {
    background-color: #00a65a !important;
}
.bg-orange {
    background-color: #f39c12 !important;
}
.bg-red {
    background-color: #d9534f !important;
}
