
{% extends "stats/stats_base.html" %}
{% load static %}
{% block custom_style %}
<style>
    #student_stats{
        border-left: 5px solid orange;
        color: #013A6B;
        font-weight: bold;
    }
</style>
{% endblock custom_style %}
{% block content  %}
<div class="border border-2 p-2 white-bg">
    <h6 class="mt-2"> Search Student</h6>
    <hr>

    <form method="GET">
        <div class="row py-3">
            <div class="col-md-3">
                <div class="mb-3">
                    <label for="name" class="form-label fw-bold">Student Name / Email</label>
                    <input type="text" class="form-control" placeholder="Student name/email" aria-label="name" name="name" id="name">
                  </div>
            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    <label for="vle_name" class="form-label fw-bold">VLE Name / Email</label>
                    <input type="text" class="form-control" placeholder="VLE name/email" aria-label="vle_name" name="vle_name" id="vle_name">
                  </div>
            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    <label for="csc" class="form-label fw-bold">CSC ID</label>
                    <input type="text" class="form-control" placeholder="CSC ID" aria-label="csc" name="csc" id="csc">
                  </div>
                
            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    <label for="edu" class="form-label fw-bold">Education</label>
                    <select class="form-select" aria-label="Education" name="edu" id="edu">
                        <option value="">Open this select menu</option>
                        {% for education in edu %}
                        <option value="{{education.edu_qualification}}">{{education.edu_qualification}}</option>
                        {% endfor %}
                      </select>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    <label for="state" class="form-label fw-bold">State</label>
                    <select class="form-select" aria-label="Education" name="state" id="state">
                        <option value="">Open this select menu</option>
                        {% for item in states %}
                        <option value="{{item}}">{{item}}</option>
                        {% endfor %}
                    </select>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    <label for="district" class="form-label fw-bold">District</label>
                    <select class="form-select" aria-label="Education" name="district" id="district">
                        <option value="">Open this select menu</option>
                        {% for item in districts %}
                        <option value="{{item}}">{{item}}</option>
                        {% endfor %}
                      </select>
                  </div>
            </div>
            <div class="col-md-3">
                <div class="mb-3">
                    <label for="occupation" class="form-label fw-bold">Occupation</label>
                    <select class="form-select" aria-label="Occupation" name="occupation" id="occupation">
                        <option value="">Open this select menu</option>
                        {% for item in occupation %}
                        <option value="{{item.occupation}}">{{item.occupation}}</option>
                        {% endfor %}
                      </select>
                  </div>
            </div>
            <div class="col-12">
                <button type="submit" value="Filter" class="btn btn-primary">Filter</button>
                <button type="submit" value="Filter" class="btn btn-primary">Clear Filter</button>
            </div>
        </div>
    </form>
</div>
<div>
    {% if query_str.name  or query_str.vle_name or query_str.csc or query_str.edu or query_str.state or query_str.district or query_str.occupation  %}
        
<div class="alert alert-success my-2" role="alert">
    <span style="color: #013A6B;" class="fw-bold">Showing Search Results For : </span>
        {% for item,val in query_str.items %}
            {% if val %}
                {% if forloop.last %}
                    <span> {{item}} : {{val}}  </span>
                {% else %}
                    <span> {{item}} : {{val}} | </span>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
</div>
    <div class="pagination my-2">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Gender</th>
            <th scope="col">Educational Qualification</th>
            <th scope="col">VLE</th>
            <th scope="col">State</th>
            <th scope="col">District</th>
            <th scope="col">Date of Registration</th>
            <th scope="col">Occupation</th>
            <th scope="col">Category</th>
          </tr>
        </thead>
        <tbody>
            {% for student in object_list %}
             <tr>
                <td>{{forloop.counter}}</td>
                <td>{{student.user.get_full_name | title}}</td>
                <td>{{student.user.email}}</td>
                <td>{{student.gender}}</td>
                <td>{{student.edu_qualification}}</td>
                <td>
                    {% for vle in student.vle_id.all %}
                        {{vle.user.email}}
                    {% endfor %}
                </td>
                <td>{{student.state}}</td>
                <td>{{student.district}}</td>
                <td>{{student.date_of_registration}}</td>
                <td>{{student.occupation}}</td>
                <td>{{student.category}}</td>
              </tr>
            {% endfor %}
          
          
        </tbody>
      </table>

{% endblock content  %}

