{% extends 'spoken/base.html' %}
{% load crispy_forms_tags %}
{% block title%} Forget Password {% endblock title%}
{% block content %}
<div class="container mt-5 pt-5 mx-2">
  {% include 'spokenlogin/messages.html' %} 
  <div class="container my-5">
    <h3>Forget Password</h3>
  </div>
  <form method="post" action="">
    {% csrf_token %}
    <label for="email">Email</label>
    <input type="email" name="email" id="email" />
    <button type="submit">Send Mail</button>
  </form>
</div>
{% endblock %}
