<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Order received</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
    <p>Dear {{full_name}},</p>
    <p>Welcome to IIT Bombay Spoken Tutorial Program. We are happy to be partnered with CSC Academy to
        empower youth from all over the country via VLEs.</p>
        
        <p>You have been added as an invigilator by VLE {{vle}}.</p>
        
        <p>Please use the below Login details for the Spoken Tutorial Dashboard:</p>
        <p>Link to Login: https://spoken-tutorial.in/login/</p>

        <p>username : {{username}}</p>
        <p>password : {{password}}</p>

        <p>Please click the following training link to know the process of </p>
        <p>Student Registration Instructions : <a href="https://docs.google.com/document/d/1z8-s4sSl7viPqJ8WAFeeNmoJUVLRPv2L9jLOrfN6ln0/edit?usp=sharing">Click Here</a></p>
        <p>Course Allotment Instructions : <a href="https://docs.google.com/document/d/1Mv23iijOVuS6eCcHCgYKbbxopjk_SkSfExXW-61G2AQ/edit?usp=sharing">Click Here</a></p>

        <p>In case of any query, please feel free to contact at animation-hackathon@cscacademy.org.</p>

        <p>Thanks & Regards,</p>
        <p>Team,</p>
        <p>Spoken Tutorial</p>
</body>
</html>