{% extends 'csc_base.html'%}
{% load csc_tags %}
{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
<style>
    .fa-check-circle{
        color: green;
    }
    .fa-times-circle,.fa-trash-alt{
        color: maroon;
    }
    #example_length, #example_paginate{
        display: none;
    }
    .fa-edit{
        color: midnightblue;
    }
</style>
{% endblock css %}

{% block content %}
<div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="alert alert-success" role="alert" style="display: none" id="status">
                    Attendance marked!
                  </div>
                <div class="mb-5">
                    <div class="card">
                        <div class="card-header">
                            <b>{{test.foss.foss | title }}</b>
                            
                        </div>
                        <div class="card-body">
                          
                          <div class="card-text d-flex mb-3">
                            <p class="me-5"><i class="far fa-calendar"></i> : {{test.tdate}}</p>
                            <p class="me-5"><i class="far fa-clock "></i> : : {{test.ttime}}</p>
                            <p>Foss : {{test.foss.foss}}</p>

                          </div>
                          
                          <div class="btn-group mt-3" role="group" aria-label="Basic mixed styles example">
                            
                            <button type="button" class="btn btn-warning" disabled>Total enrolled : <span id="total_enrolled" >{{total_enrolled}}</span></button>
                            <button type="button" class="btn btn-success" disabled>Attendance marked : <span id="attending" >{{attending}}</span></button>
                            <button type="button"  class="btn btn-danger" disabled>Pending : <span id="pending"> {{pending}}</span></button>
                          </div>
                          <div class="card-text d-flex my-3">
                            <p class="me-5"><button class="btn btn-sm " id="btn_select_all" style="background-color: #90B77D">Select all </button></p>
                            <p class="me-5"><button class="btn btn-sm " id="btn_deselect_all"  style="background-color: #F29393">Deselect all </button></p>
                            <p class="me-5">
                                {% if is_valid_vle %}
                                    <button class="btn btn-sm btn-success" id="btn_mark_attendance1" type="submit" form="mark_atten">Mark attendance</button>
                                {% else %}
                                <div class="alert alert-danger" role="alert">
                                    {{renewal_info}}
                                    <p>Please renew subscription to mark attendance.</p>
                                  </div>
                                {% endif %}
                                
                            </p>
                            
                            <!-- <p>Total Students selected : <span id="students_selected"></span></p> -->
                          </div>
                          <p><small>**Select/Deselect students below to mark attendance. Click on 'Mark Attendance' button above to submit attendance. </small></p>
                        </div>
                      </div>
                </div>
                <form method='POST' id='mark_atten'>
                    {% csrf_token %}
                <table class="table table-bordered mt-5" id="tb_students">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">email</th>
                        <th scope="col">contact</th>
                        <th scope="col">Action</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                     
                      {% for student,status in students %}
                      
                        <tr >
                           
                            <td>{{forloop.counter}}</th>
                            <td>{{student.user.get_full_name | title}}</td>
                            <td>{{student.user.email}}</td>
                            <td>{{student.phone}}</td>
                            <td> 
                                <div class="form-check">
                                    {% if status <= 1 %}
                                        <input class="form-check-input att" type="checkbox" value="{{student.id}}" id="check_{{item.id}}" name="student_attendance" {% if status != 0 %}checked{% endif %}>

                                    {% else %}
                                        <span>{{status | get_test_status}}</span>
                                    {% endif %}
                                    
                                    {% comment %} {% if item.test_status %}
                                    <input class="form-check-input att" type="checkbox" value="{{item.id}}" id="check_{{item.id}}" checked>                               
                                    {% else %}
                                    <input class="form-check-input att" type="checkbox" value="{{item.id}}" id="check_{{item.id}}" >                               
                                    {% endif %} {% endcomment %}
                                </div>
                            </td>
                        
                         </tr>
                      
                      
                      {% endfor %}
                      
                      
                    </tbody>
                  </table>
                </form>
            </div>
        </div>
        
    </div>
    <div>
        {% if is_paginated %}
        {% include "_pagination.html" %}
    {% endif %}
    </div>
    
    
</div>

{% endblock %}

{% block script %}


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

<script>
    function student_select_count(){
        var selected = [];
            $('input.att:checkbox:checked').each(function () {
                selected.push($(this).val());
            });
        return selected;
    }
    $(document).ready(function () {
        $('#tb_students').DataTable(
            {
                "pageLength": 200
            }
        ); 
       
        $( "#btn_mark_attendance" ).click(function() {
            
            var arr = [];
                $('input.att:checkbox:checked').each(function () {
                arr.push($(this).val());
            });
            console.log(arr);
            const test_id = `{{test.id}}`
            console.log(test_id);
            data = {}
            data['students'] = arr
            data['test_id'] = test_id
            url = '/csc/ajax_mark_attendance/'
            $.ajax({
                url : url,
                type: "POST",
                data : data,
                success: function(data, textStatus, jqXHR)
                {
                    console.log(data);
                    console.log(data['foss']);
                    console.log(data);
                    $('#total_enrolled').text(data['total_enrolled']);
                    $('#attending').text(data['attending']);
                    $('#pending').text(data['pending']);
                    $('#status').show();
                },
                error: function (jqXHR, textStatus, errorThrown)
                {
                    alert('error')
                }
            });
        });
       
     

    //     $('.att').change(function() {
    //         const attending = $('#attending').text()
    //         const l = student_select_count().length-parseInt(attending);
    //         $('#students_selected').text(l);     
    // });

    
    $( "#btn_select_all" ).click(function() {
       
        $('.att').prop('checked', true);  
        // $('#students_selected').text(student_select_count().length); 
    });

    $( "#btn_deselect_all" ).click(function() {
       
       $('.att').prop('checked', false);  
    //    $('#students_selected').text(student_select_count().length); 
   });
    
});
  </script>
{% endblock %}



