{% load static %}
{% load helper %}
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
    <ul class="nav flex-column">
        <li class="nav-item ">
            <div class="row">
                <div class="col-6 text-center d-flex align-items-end justify-content-end ">
                    <img src="{% static '/spoken/images/logo.png' %}" class="col-6"  style="width:50%;"> 
                </div>
                <div class="col-6 text-center d-flex align-items-end">
                    <img src="{% static '/spoken/images/csc1.png' %}" class="col-6  mx-auto " style="width:80%;"> 
                </div>
            </div>
            <hr>
            <div style="font-size: 1rem;color:var(--orange);" class="text-center">CSC Academy Programme</div>
        </li>
        <hr>
        
        {% if request.user|has_group:"VLE" %}
        
        <h6 class="sidebar-heading  px-3 mt-4 mb-1 text-muted">
            <p class="mb-3"><i class="fas fa-user-circle sb-icon"></i>{{request.user.email}}</p>
            <p>VLE</p>
            </h6> 
            
            <li class="nav-item">
                <a class="nav-link scroll_link " href="{% url 'csc:vle_dashboard'%}"><i class="fas fa-user sb-icon"></i>VLE Dashboard<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link scroll_link " href="{% url 'csc:courses' %}" ><i class="fas fa-book-open sb-icon"></i>Courses</a>
                <a class="nav-link scroll_link " href="{% url 'cdcontent:cdcontenthome' %}" ><i class="fas fa-file-download sb-icon"></i>CD Content Download</a>
            </li>
            <li class="nav-item">
                <a class="nav-link scroll_link " href="{% url 'csc:student_list' %}" ><i class="fas fa-user-graduate sb-icon"></i>Students</a>
                
                <a class="nav-link scroll_link " href="{% url 'tutorial_search' %}?search_foss=Advanced+Cpp&search_language=English"><i class="fas fa-book-open sb-icon" ></i>Tutorials</a>
                <a class="nav-link scroll_link " href="{% url 'home' %}"><i class="fas fa-home sb-icon" ></i>Home<span class="sr-only">(current)</span></a>
                {% comment %} <a class="nav-link scroll_link " href="{% url 'csc:test' %}"><i class="fas fa-book-open sb-icon" ></i>Tests</a> {% endcomment %}
                {% comment %} <a class="nav-link scroll_link " href="https://spoken-tutorial.in/"><i class="fas fa-home sb-icon" ></i>Home<span class="sr-only">(current)</span></a> {% endcomment %}
            </li>
            <h6 class="sidebar-heading px-3 mt-4 mb-1 text-muted">
                <span>TEST</span>
            </h6>
            <li class="nav-item">
                <a class="nav-link scroll_link " href="{% url 'csc:test' %}"><i class="fas fa-pen-square sb-icon"></i>Create Test</a>
                <a class="nav-link scroll_link " href="{% url 'csc:test_assign' %}"><i class="fas fa-user-plus sb-icon"></i>Assign Students to Test</a>
                <a class="nav-link scroll_link " href="{% url 'csc:test_list' %}"><i class="fas fa-clipboard-list sb-icon"></i>View tests</a>
                {% comment %} <a class="nav-link scroll_link " href="{% url 'csc:invigilator' %}"><i class="fas fa-user-edit sb-icon"></i>Invigilator</a> {% endcomment %}
                
            </li>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>INVIGILATORS</span>
                <a class="link-secondary" href="#" aria-label="Add a new report">
                  <span data-feather="plus-circle"></span>
                </a>
                </h6>
                <li class="nav-item">
                    <a class="nav-link scroll_link " href="{% url 'csc:create_invigilator'%}"><i class="fas fa-file-download sb-icon"></i>Add Invigilator</a>
                    <a class="nav-link scroll_link " href="{% url 'csc:view_invigilators'%}"><i class="fas fa-file-download sb-icon"></i>View Invigilators</a>
                </li>
            

            {% comment %} <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Tests</span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
            </a>
            </h6>

            <li class="nav-item">
            <a class="dropdown-item scroll_link" href="{% url 'csc:list_test' %}"><i class="fas fa-clipboard sb-icon"></i>Test Details</a>
            </li>
            <li class="nav-item">
            <a class="dropdown-item scroll_link" href="{% url 'csc:invigilators' %}"><i class="fas fa-user-check sb-icon"></i>Invigilators</a>
            </li> {% endcomment %}

        {% endif %}

        {% if request.user|has_group:"INVIGILATOR" %}
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>INVIGILATOR</span>
        <a class="link-secondary" href="#" aria-label="Add a new report">
        <span data-feather="plus-circle"></span>
        </a>
        </h6>
        
        <li class="nav-item">
            <a class="dropdown-item" href="{% url 'csc:invigilator_dashboard' %}"><i class="fas fa-user-tag sb-icon"></i>Invigilator Dashboard</a>
        </li>

        {% endif %}

        {% if request.user|has_group:"STUDENT" %}
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>STUDENT</span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
              <span data-feather="plus-circle"></span>
            </a>
            </h6>
            <li class="nav-item">
                <a class="nav-link scroll_link " href="{% url 'student:student_dashboard'%}"><i class="fas fa-user sb-icon"></i>Student Dashboard<span class="sr-only">(current)</span></a>
                <a class="nav-link scroll_link " href="{% url 'csc:courses' %}" ><i class="fas fa-book-open sb-icon"></i>Courses</a>
                <a class="nav-link scroll_link " href="{% url 'home' %}"><i class="fas fa-home sb-icon" ></i>Home<span class="sr-only">(current)</span></a>
                <a class="nav-link scroll_link " href="{% url 'tutorial_search' %}?search_foss=Advanced+Cpp&search_language=English"><i class="fas fa-book-open sb-icon" ></i>Tutorials</a>
            </li>
            
            {% comment %} <li class="nav-item"><a class="nav-link scroll_link scroll_link" href="{% url 'student:student_tests' %}">Tests</a></li> {% endcomment %}
            {% comment %} <li class="nav-item"><a class="nav-link scroll_link scroll_link" href="{% url 'student:courses' %}">Courses</a></li> {% endcomment %}
        {% endif %}

    </ul>
    {% comment %} <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>TEST</span>
        <a class="link-secondary" href="#" aria-label="Add a new report">
          <span data-feather="plus-circle"></span>
        </a>
        </h6>
        <li class="nav-item">
            <a class="nav-link scroll_link " href="{% url 'student:student_dashboard'%}"><i class="fas fa-file-download sb-icon"></i>Tests</a>
        </li>
     {% endcomment %}

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>ACCOUNT</span>
        <a class="link-secondary" href="#" aria-label="Add a new report">
        <span data-feather="plus-circle"></span>
        </a>
    </h6>


    <ul class="nav flex-column mb-2">
        

        {% comment %} <li class="nav-item">
            <a class="dropdown-item" href="{% url 'password_change' %}"><i class="fas fa-key sb-icon"></i>Change Password</a>
        </li> {% endcomment %}
        <li class="nav-item">
            <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt sb-icon"></i>Logout</a>
        </li>

        
    </ul>

    </div>
  </nav>