{% extends 'csc_base.html'%}
{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
<style>
    .tb-header{
        color:  var(--footer-color);
        font-size: .875rem;
        
    }
    .tb-data{
        font-size: .875rem;
    }
    .name a{
        color:  var(--footer-color)!important;
        text-decoration: none;
    }
    .f-sm{
        font-size: .875rem;
    }
    .f-name{
        color: rgba(0,0,0,0.5);
    }
</style>
{% endblock css %}

{% block content %}
<div>
    <div>
        <div>
            <button class="btn btn-warning" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" >
                Assign FOSS
            </button>
        </div>
        <div>
            <p class="f-name fs-sm ">* Click on student name below to view/edit student details.</p>
            <hr>
        </div>
        <div>
            
        </div>
        <table id="example" class="table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th class="tb-header"> <span><i class="fas fa-user"></i></span> Name</th>
                    <th class="tb-header"> <span><i class="fas fa-envelope"></i> </span> Email</th>
                    <th class="tb-header"><span><i class="fas fa-phone-square-alt"></i></span> Contact</th>
                    <th class="tb-header"><span><i class="far fa-calendar"></i></span> Registration Date</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr class="tb-data">
                    <td >
                        <span class="form-check"><input class="form-check-input messageCheckbox" type="checkbox" value="{{student.id}}" id="{{student.id}}" name="check_student" ></span>
                    </td>
                    <td class="name">
                        <a href="{% url 'csc:student_profile' id=student.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Click to edit student details">{{student.user.first_name | title}} {{student.user.last_name | title}}</a>
                    </td>                    
                    <td>{{student.user.email}}</td>                    
                    <td>{{student.phone}}</td>                    
                    <td>{{student.date_of_registration}}</td>                    
                </tr>
                {% endfor %}                                
                <tbody>
            </table>
    </div>
    
</div>
<div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <!-- <h5 class="offcanvas-title" id="offcanvasExampleLabel">FOSS</h5> -->
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div>
                <!-- <p>Total students selected : <span id="student_count"></span></p> -->
            </div>
          <ul class="list-group">
            <li class="list-group-item list-group-item-warning">DCA FOSS</li>
            {% for foss in foss_dca %}
                <li class="list-group-item">
                    <div class="form-check">
                        <input class="form-check-input checkFoss" type="checkbox" value="{{foss.id}}" id="foss_{{foss.id}}" name="check_foss" >
                        <span>{{foss.foss}}</span>
                    </div>   
                </li>                
            {% endfor %}
          </ul>
         
          <hr>
          <div>
            <ul class="list-group">
                <li class="list-group-item list-group-item-info">Individual FOSS</li>
                {% for foss in foss_individual %}
                    <li class="list-group-item">
                        <div class="form-check">
                            <input class="form-check-input checkFoss" type="checkbox" value="{{foss.id}}" id="foss_{{foss.id}}" name="check_foss" >
                            <span>{{foss.foss}}</span>
                        </div>   
                    </li>                
                {% endfor %}
              </ul>
            
        </div>
          <button type="button" class="btn btn-success mt-5" onclick="assign_foss()" id="btn-assign">Assign FOSS</button>
          
        </div>
      </div>
</div>

{% endblock %}

{% block script %}


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>


<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->

<script>
    $(document).ready(function () {
        $('#example').DataTable(); 
});



function assign_foss(){      
    var checkStudent = [];
    var checkFoss = [];
    $('input[name=check_student]').each(function () {
    if(this.checked){
        console.log(this);
        checkStudent.push(this.value);
    }     
    });
    if(checkStudent.length==0){
        alert("Please select students to assign FOSS");
    }else{
        $('input[name=check_foss]').each(function () {
        if(this.checked){
        console.log(this);
        checkFoss.push(this.value);
    }     
    });
    if(checkFoss.length==0){
        alert("Please select FOSS");
    }else{
        data = {student:checkStudent,foss:checkFoss}
    url = '/csc/assign_foss/'

    $.ajax({
    url : url,
    type: "POST",
    data : data,
    success: function(data, textStatus, jqXHR)
    {
        console.log(data);
        console.log(data['foss']);
        console.log(data);
        alert('FOSS assigned successfully.\nFOSS assigned :' + data['foss'] +'\nTotal Students : '+ data['student_count'])
    },
    error: function (jqXHR, textStatus, errorThrown)
    {
        alert('e')
    }
});
    }  
}
}
  </script>
{% endblock %}
