{% extends 'csc_base.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block css %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
<style>
    body{
      background-color: #F1F2F5;
    }
    .card-header{
      background-color:#013A6B!important;
      color: #fff;
    }
    .p-icons{
      color : #013A6B;
    }
    .test_info{
      
      font-size: 0.85rem;
      color: rgba(0,0,0,0.5);
    }
    .fa-calendar-day,.fa-clipboard{
      color: #013A6B;
      margin-right: 6px;
    }
    .border-1{
      border-left:  0.25rem solid #4e73df!important;
    } 
    .border-2{
      border-left:  0.25rem solid #377D71!important;
    } 
    .border-3{
      border-left:  0.25rem solid #36b9cc!important;
    } 
    .border-4{
      border-left:  0.25rem solid #f6c23e!important;
    } 
    .text-xs{
      font-size: 0.85rem;
    }
    .fa-users{
      color: #4e73df;
      opacity: 0.4;
    }
    .fa-clipboard-list{
      color: #377D71;
      opacity: 0.4;
    }
    .fa-award{
      color: #36b9cc;
      opacity: 0.4;
    }
    .heading{
      color: #013A6B;
      font-size: 0.85rem;
      font-weight: bold;
    }
    .bg-white{
      background: #fff;
    }
    .test_title{
      color: #013A6B!important;
    }
    .progress{
      height: 0.25rem;
    }
    /* custoome for this page */
    .fa-clipboard{
      color :rgba(84, 186, 185, 1);
      font-size: 1.2rem;
    }
    /* .fa-calendar-alt{
      font-size: 1.2rem;
    } */
    
    </style>
{% endblock css %}

{% block content %}
       <div class="row">
            <div class="col-12">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                      <button class="nav-link active" id="nav-courses-tab" data-bs-toggle="tab" data-bs-target="#nav-courses" type="button" role="tab" aria-controls="nav-courses" aria-selected="true">Open Tests</button>
                      <button class="nav-link" id="nav-request-tab" data-bs-toggle="tab" data-bs-target="#nav-request" type="button" role="tab" aria-controls="nav-request" aria-selected="false">Completed Tests</button>
                      {% comment %} <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button> {% endcomment %}
                    </div>
                  </nav>
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active py-3" id="nav-courses" role="tabpanel" aria-labelledby="nav-courses-tab">
                      <table class="table tb">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">FOSS</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for item in open_tests %}
                            <tr>
                              <th>{{forloop.counter}}</th>
                              <td>{{item.test.foss.foss}}</td>
                              <td>{{item.test.tdate}}</td>
                              <td>{{item.test.ttime}}</td>
                            </tr>
                          {% endfor %}
                         
                         
                        </tbody>
                      </table>
                    </div>
                    <div class="tab-pane fade py-3" id="nav-request" role="tabpanel" aria-labelledby="nav-request-tab">
                      <table class="table tb">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">FOSS</th>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Download</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for item in completed_tests %}
                          <tr>
                            <th>{{forloop.counter}}</th>
                            <td>{{item.test.foss.foss}}</td>
                            <td>{{item.test.tdate}}</td>
                            <td>{{item.test.ttime}}</td>
                            <td><span class="download_certi"><i class="fas fa-file-download"></i></span></td>
                          </tr>
                          {% endfor %}
                         
                         
                        </tbody>
                      </table>
                    </div>
                  </div>
            </div>
            <div class="col-4">
                
                
                  
                  
                  
                
            </div>
       </div>
       
       <div class="modal" tabindex="-1" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p id="test_req_msg"></p>
            </div>            
          </div>
        </div>
      </div>
{% endblock %}

{% block script %}
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

<script>
  $(document).ready(function () {
        
    $('.tb').DataTable({
        "pageLength": 50
    }); 

    


});
$( ".download_certi" ).click(function() {
  alert('cik')          ;

  
  data = {}
  
  url = '/csc/student/download_certificate/'
  $.ajax({
      url : url,
      type: "GET",
      data : data,
      success: function(data, textStatus, jqXHR)
      {
        alert('success')
          
      },
      error: function (jqXHR, textStatus, errorThrown)
      {
          alert('error')
      }
  });
});
</script>
{% endblock %}

