<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Order received</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 0;">
    <p>Dear {{full_name}},</p>
    <p>Thank you for registering under Spoken Tutorial(IIT Bombay) courses.</p>
        <p>Below are the login details for Spoken Tutorial Dashboard.</p>
        <p>Link to Login: https://spoken-tutorial.in/login/</p>

        <p>username : {{username}}</p>
        <p>password : {{password}}</p>
        
        <p>Thanks & Regards,</p>
        <p>Team,</p>
        <p>Spoken Tutorial</p>
</body>
</html>