{% extends 'csc_base.html'%}
{% load static %}
{% load csc_tags %}
{% block css %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" type="text/css" href="{% static '/spoken/utility.css' %}">
<style></style>
{% endblock css %}

{% block content %}
<div>
    <div class="container">
      <div>
        <table class="table my-5" id="example">
                    
          <thead>
              <tr>
                  <th>#</th>
                  <th scope="col">FOSS</th>
                  <th scope="col">Date</th>
                  <th scope="col">Time</th>
                  <th scope="col">Delete</th>
                  <th scope="col">Edit</th>
                  
                  <th scope="col">Students (Pending)</th>
                  <th scope="col">Appeared Students</th>
                  <th scope="col">View Students </th>
                  <th scope="col"></th>
              </tr>
          </thead>
          <tbody>
              {% for test in tests %}
              <tr>
                    <td>{{forloop.counter}}</td>
                  <td>{{test.foss | title }}</td>
                  <td>{{test.tdate}}</td>
                  <td>{{test.ttime}}</td>
                  <td><a href="{% url 'csc:delete_test' test.id %}"><i class="far fa-trash-alt"></i></a></td>
                  <td><a href="{% url 'csc:update_test' test.id %}"><i class="far fa-edit"></i></a></td>
                  
                  <td>{{test.upcoming_students}}</td>
                  <td>{{test.appeared_students}}</td>
                  <td><a class="text-dark" href="{% url 'csc:test_students' test.id %}"><i class="fas fa-users"></i></a></td>
                  <td>{% if test.tdate|is_today %}
                      <a href="{% url 'csc:mark_attendance' test.id %}" class="btn btn-sm btn-warning">attendance</a>
                      {% endif %}
                  </td>
              </tr>
              {% endfor %}
          </tbody>
  </table>
      </div>
        
    </div>
    <div>
    
    </div>
    
    
</div>

{% endblock %}

{% block script %}


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

<script>
    $(document).ready(function () {
        
        $('#example').DataTable({
            "pageLength": 200
        }); 
});

  </script>
{% endblock %}




