{% extends "csc_base.html" %}
{% load static %}
{% load crispy_forms_tags%}
{% block title%} CSC - VLE Dashboard {% endblock title%}
{% block css %}
<style>
body{
  background-color: #F1F2F5;
}
.card-header{
  background-color:#013A6B!important;
  color: #fff;
}
.p-icons{
  color : #013A6B;
}
.test_info{
  
  font-size: 0.85rem;
  color: rgba(0,0,0,0.5);
}
.fa-calendar-day,.fa-clipboard{
  color: #013A6B;
  margin-right: 6px;
}
.border-1{
  border-left:  0.25rem solid #4e73df!important;
} 
.border-2{
  border-left:  0.25rem solid #377D71!important;
} 
.border-3{
  border-left:  0.25rem solid #36b9cc!important;
} 
.border-4{
  border-left:  0.25rem solid #f6c23e!important;
} 
.text-xs{
  font-size: 0.85rem;
}
.fa-users{
  color: #4e73df;
  opacity: 0.4;
}
.fa-clipboard-list{
  color: #0dcaf0;
  opacity: 0.4;
}
.fa-clipboard-check{
  color: #198754!important;
  opacity: 0.4;
}
.fa-award{
  color: #36b9cc;
  opacity: 0.4;
}
.heading{
  color: #013A6B;
  font-size: 0.85rem;
  font-weight: bold;
}
.bg-white{
  background: #fff;
}
.test_title{
  color: #013A6B!important;
}
.progress{
  height: 0.25rem;
}
</style>
<link rel="stylesheet" href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css" />
<script src="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.js"></script>

{% endblock %}


{% block content%}


<div>
  <div class="card mb-3">
    <div class="card-header">
      <div><i class="fas fa-user-circle mr-2">  </i>  <span>{{ user.first_name | title }} {{ user.last_name | title }}</span></div>
      
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-4">
          <div class="d-flex">
            <span class="me-2"><i class="fas fa-university p-icons d-inline-block mr-5"></i></span>
            <span class="me-2"><strong>CSC ID: </strong> {{ vle.csc.csc_id }}</span>
          </div>
        </div>
          
        <div class="col-md-4 ">
          <div class="d-flex">
              <span class="me-2"><i class="fas fa-envelope p-icons d-inline-block mr-5"></i></span>
              <span class="me-2">{{ user.email }}</span>
          </div>
        </div>
        
        <div class="col-md-4">
          <div class="d-flex">
            <span class="me-2"><i class="fas fa-phone-square-alt p-icons d-inline-block mr-5"></i></span>
            <span class="me-2">{{ vle.phone }}</span>
          </div>
        </div>
        
        <div class="col-12 mt-2">
          
            <span class="me-2"><i class="fas fa-map-marker-alt p-icons d-inline-block mr-5"></i></span>
            <span class="me-2">{{vle.csc.address | title}}, {{vle.csc.block}}, {{ vle.csc.city }}, {{ vle.csc.state }}</span></div>
          
        </div>
        <div class="col-12 mt-2">
          <span class="me-2"><i class="far fa-clipboard p-icons d-inline-block mr-5"></i> Plan: </span>
          <span class="me-2">{{ vle.csc.plan }}</span>
      </div>
          
      </div>
    </div>
    

  </div>
<div >
    <!-- <div class="col-md-3">
      {% include "sidebar.html" %}
    </div> -->
    <div >
      <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-1 shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                              Total students enrolled</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_students_enrolled}}</div>
                        </div>
                        <div class="col-auto">
                            <!-- <i class="fas fa-calendar fa-2x text-gray-300"></i> -->
                            <i class="fas fa-users fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Earnings (Monthly) Card Example -->
       <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-2 shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Total tests - completed</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_tests_completed}}</div>
                        </div>
                        <div class="col-auto ">
                          <i class="fas fa-clipboard-check fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-3 shadow h-100 py-2">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                              Total tests - upcoming</div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_upcoming_tests}}</div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x "></i>
                      </div>
                  </div>
              </div>
          </div>
      </div> 
    
        <!-- Earnings (Monthly) Card Example -->
        {% comment %} <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-3 shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total certificates
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{total_certificates_issued}}</div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-award fa-2x"></i>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
    
        
    </div>
    {% if upcoming_test_stats %}
    <div>
      <div class="card">
       <div class="card-header">
         Upcoming Tests
       </div>
       <div class="card-body">
         <div class="row">
             {% for key,value in upcoming_test_stats.items %}
             <div class="col-md-3">
             <div class="border p-2 mb-2">
               <div class="test_info">
                 <p ><a href="{% url 'csc:update_test' pk=value.id %}" class="test_title"><i class="far fa-clipboard"></i> {{key}} <i class="fas fa-location-arrow"></i></a></p>
                 <p><i class="fas fa-calendar-day"></i>{{value.date}} / {{value.time}}</p>
                 <p>Total Students : {{value.total_students}}</p>
               </div>
             </div>
           </div>
             {% endfor %}
         </div>
       </div>
     </div> 
   </div>
    {% endif %}
   
    <div class="row mt-2 ">
      {% comment %} <div class="col-md-8 ">
        <div class="border p-2 bg-white">
          <p class="heading text-center">Enrollment based on Course Type </p>
          <div class="text-xs d-flex justify-content-around">
             <div>DCA({{courses_offered_stats.dca}})</div>
            <div>Individual({{courses_offered_stats.individual}})</div> 
          </div>
          <canvas id="prg_type"></canvas>  
          
        </div>
      <div clsss='col-6'>
        <div >
          <canvas id="myChart"></canvas>
        </div>
      
          
          
        </div>
      </div>{% endcomment %}

      
      {% comment %} <div class="col-4 mt-2 ">
        <div class="border p-2 bg-white">
          <p class="heading text-center">Enrollment for DCA Courses </p>
          <canvas id="dca_course"></canvas>  
        </div>
      </div>
      <div class="col-4 mt-2 ">
        <div class="border p-2 bg-white">
          <p class="heading text-center">Enrollment for Individual Courses </p>
          <canvas id="individual_course"></canvas>  
        </div>
      </div>
    </div>
    <div> {% endcomment %}
      
    </div>
    <div class="row mt-4">
      {% for key,value in fosses_perc.items %}
      <div class="col-md-2 mb-4">
        <div class="card border-3 shadow h-100 py-2">
            <p class="px-2">{{ key }}</p>
            <div class="progress m-2">
              <div class="progress-bar bg-warning" role="progressbar" style="width: {{value}}%" aria-valuenow="{{value}}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="container" style="padding-top:9%;" id="main">
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript" src="{% static '/spoken/csc.js' %}"></script>
<script>
    
    $(document).ready(function(){
      if($('#id_programme_type').val() == '') {
        $('#id_spoken_foss').val('');
        $('#id_spoken_foss').prop('disabled', 'disabled');      
      }
    $('#id_programme_type').on('change', function(){
        programme_type = $(this).val();
        programme_type_name = $(this).children("option").filter(":selected").text();
        $('#id_spoken_foss').html('<option>---------</option>');
        if(programme_type != ''){
            $.ajax({
                url: "/csc/get-foss-option/",
                type: "POST",
                data: {
                    programme_type: programme_type,
                },
                beforeSend: function() {
                },
                success: function(data) {
                    if(data && data['spoken_foss_option']) {
                        $('#id_spoken_foss').prop('disabled', false);
                    $('#id_spoken_foss').html(data['spoken_foss_option']);
                    
                    }
                 
                }
            });
        }
    });
  });
  </script>
{% endblock %}
