{% extends "csc_base.html" %}
{% load static %}
{% load crispy_forms_tags%}
{% block title%} CSC - VLE Dashboard {% endblock title%}



{% block content%}
<div  class="row" style="padding-top:9%; " >

   <section class="col-8 d-flex justify-content-center" >  

        <section  id="fosslist" style="background-color:orangered;">
        <h2 class="text-center header-m">List Of Fosses Added</h2>
        <hr>
        <div id="products" class="row">
          {% for foss in added_foss%}
            <div style="">
                <div>                  
                    <h4>{{foss.programme_type}}</h4>
                </div>
               <!-- <br> -->
                <p style="text-decoration: none;">{{foss.spoken_foss}}</p>

                <div>
                  <a href="" class="btn1" target="_blank">Download CD content  <span class="app-i"><i class="fas fa-angle-double-right"></i></span></a>
                </div>

            </div>
              {% endfor%}
        </div>
        </section>


   </section>





    <section class="col-4 d-flex justify-content-center" style=" background-color: darkred;">

        {% for message in messages %}
        <div class="text-center alert {{ message.tags }}" role="alert" style="background-color: yellow;">
                    {{ message|safe }}
        </div>
        {% endfor %}

        <div class="col-lg-8 offset-lg-2">
            <h1 class="text-left pb-2" style="font-size: 1.5rem;color: #0D47A1;width: 100%;border-bottom: 2px solid #0D47A1;">Add Foss</h1>
            <form action="{{action}}" method="post" style="width: 100%;">
              {% csrf_token %}

              <div class='form-row'>
                <div class='col-xs-12 form-group required'>
                 {{ form.programme_type | as_crispy_field }}
                </div>
            </div>

            <div class='form-row'>
                <div class='col-xs-12 form-group required'>
                 {{ form.spoken_foss | as_crispy_field }}
                </div>
            </div>

            <button type="submit" id="submit" class="btn " style="background: #0D47A1;color: #fff; font-weight: bold;width: 100%;">Add</button>
            </form>


            <hr>

        </div>
    </section>

</div>


 
{% endblock %}

{% block script %}
<script>
    
    $(document).ready(function(){

      if($('#id_programme_type').val() == '') {
        $('#id_spoken_foss').val('');
        $('#id_spoken_foss').prop('disabled', 'disabled');
        // $('.course').html('<option>---------</option>');
        // $('.course').prop('disabled', 'disabled');
      }


    $('#id_programme_type').on('change', function(){
        programme_type = $(this).val();
        programme_type_name = $(this).children("option").filter(":selected").text()

                alert(programme_type);


        $('#id_spoken_foss').html('<option>---------</option>');
        if(programme_type != ''){
            $.ajax({
                url: "/csc/get-foss-option/",
                type: "POST",
                data: {
                    programme_type: programme_type,
                },
                beforeSend: function() {
                },
                success: function(data) {
                    // loading languages
                    if(data && data['spoken_foss_option']) {
                        $('#id_spoken_foss').prop('disabled', false);
                    $('#id_spoken_foss').html(data['spoken_foss_option']);
                    
                    }
                 
                }
            });
        }
    });



    });
  </script>
{% endblock %}
