{% extends "csc_base.html" %}
{% load static %}
{% load crispy_forms_tags%}
{% block title%} CSC - VLE Dashboard {% endblock title%}
{% block css %}
<style>
.card-header{
  background-color:#013A6B!important;
  color: #fff;
}
</style>

{% endblock %}


{% block content%}
<div class="container" style="padding-top:9%;">
  <div class="row">
    <div class="col-6 px-5">
      <div>
        {% for message in messages %}
        <div>
          <div class="alert alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% endif %}{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}success{% endif %}" role="alert">
            {{ message|safe }}
        </div>
        {% endfor %}

      </div>
      <div class="card">
        <div class="card-header"> Add Foss</div>
        <div class="card-body">
          <form action="{{action}}" method="post">
            {% csrf_token %}
            <!-- <div class='form-row'> -->
              <div class='mb-3' required>
               {{ form.programme_type | as_crispy_field }}
              </div>

        
              <div class='mb-3' required>
               {{ form.spoken_foss | as_crispy_field }}
              </div>
          
          <button type="submit" class="btn" style="background: #013A6B;color: #fff; font-weight: bold;">Add</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-6">
  
    </div>

  </div>
</div>
<div  class="row" style="padding-top:9%; ">
  

   <section class="col-8 d-flex justify-content-center" >  

        <section  id="fosslist" style="background-color:orangered;">
        <h2 class="text-center header-m">List Of Fosses Added</h2>
        <hr>
        <div id="products" class="row">
          {% for foss in added_foss%}
            <div style="">
                <div>                  
                    <h4>{{foss.programme_type}}</h4>
                </div>
               <!-- <br> -->
                <p style="text-decoration: none;">{{foss.spoken_foss}}</p>

                <div>
                  <a href="/cdcontent/" class="btn1" target="_blank">Download CD content  <span class="app-i"><i class="fas fa-angle-double-right"></i></span></a>
                </div>

            </div>
              {% endfor%}
        </div>
        </section>


   </section>





    

</div>


 
{% endblock %}

{% block script %}
<script>
    
    $(document).ready(function(){

      if($('#id_programme_type').val() == '') {
        $('#id_spoken_foss').val('');
        $('#id_spoken_foss').prop('disabled', 'disabled');
        // $('.course').html('<option>---------</option>');
        // $('.course').prop('disabled', 'disabled');
      }


    $('#id_programme_type').on('change', function(){
        programme_type = $(this).val();
        programme_type_name = $(this).children("option").filter(":selected").text()

                alert(programme_type);


        $('#id_spoken_foss').html('<option>---------</option>');
        if(programme_type != ''){
            $.ajax({
                url: "/csc/get-foss-option/",
                type: "POST",
                data: {
                    programme_type: programme_type,
                },
                beforeSend: function() {
                },
                success: function(data) {
                    // loading languages
                    if(data && data['spoken_foss_option']) {
                        $('#id_spoken_foss').prop('disabled', false);
                    $('#id_spoken_foss').html(data['spoken_foss_option']);
                    
                    }
                 
                }
            });
        }
    });



    });
  </script>
{% endblock %}
