{% extends "base_without_login.html" %}
{% load static %}


{% block content%}
<div class="mt-5 pt-5" >
  {% if serial_no %}
  <!-- <div class="mt-5 d-flex justify-content-center align-items-center" > -->
  <div class="row">
    <div class="col-md-6 align-self-center offset-md-3">
      <div class="card">
        <p class="card-header "><strong>Details For Certificate Code : {{serial_no_val}}</strong> </p>
        <div class="card-body">
          <table class="table table-bordered" align="center" >    
            <tbody>
                {% for key, value in detail.items %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}
               
            </tbody>
          </table>
          
        </div>
        <div align="center"><a href="{% url 'csc:verify_test_certificate' %}" style="color: black"><u> Verify another serial number</u></a></div>
      </div>
    </div>    
</div>
{% else %}
    <div  class="modal fade" id="invalidModal" tabindex="-1" role="dialog" aria-labelledby="invalidModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="invalidModalLabel">Invalid Serial Number</h4>
            </div>
            <div class="modal-body">
              Sorry ! The serial number you entered seems to be invalid. Please try again !
            </div>
          </div>
        </div>
    </div>
    <p align="center"><b> Enter the serial number from your test certificate </p>
    <hr>
    <form action="{% url 'csc:verify_test_certificate' %}" method="post">
        {{ detail }}
        {% csrf_token %}
        <div class="input-group" style="width:340px;text-align:center;margin:0 auto;">
            <input class="form-control input-lg" placeholder="Enter the serial number" type="text" name=serial_no>
            <button class="btn btn-primary ml-3" type="submit">Verify</button>
        </div>
        
{% endif %}
    </form>
        <hr style="margin-bottom:350px;">
</div>
    
{% endblock %}

{% block compressjsblock %}
<script type="text/javascript">
  invalid_serial = {{ invalidserial }}
  $( document ).ready(function() {
      if(invalid_serial == 1)
      {
          $("#invalidModal").modal(); 
      }
  });
</script>
{% endblock %}
